.block {
	padding: 90px 0;
	.block-title {
		font-size:1.75rem;
		text-transform: uppercase;
	}
	.block-desc {
		@include rem(18);
	}
	h3 {
		font-style:italic;
		@include rem(21);
	}
}

#get-involved {
	position: relative;
	padding-bottom: 0;
	border-bottom:1px solid #e3e3e3;
	overflow: hidden;
	#logo-alt {
		float: right;
		margin-bottom: -15px;
	}
	.btn {
		display: inline-block;
	}
	@include respond-to(small) {
		.btn {
			margin-bottom: 20px;
		}
		#logo-alt {
			padding-top: 30px;
		}
	}

}


#fast-wild {
	background: #08a2e1;
	text-align: center;
	.block-title {
		color:#fff;
	}
	#cards {
		margin: 0 auto;
		.card {
			text-align: left;
			background: #ffffff;
			border-radius:5px;
			header {
				padding: 15px;
				border-bottom: 1px solid #e5e5e5;
				position: relative;
				min-height: 70px;
				padding-left: 70px;
				img {
					padding: 0;
					position: absolute;
					left: 15px;
					top: 15px;
					width: 42px;
					height: 42px;
					border-radius:20em;
				}
				.card-author {
					b {
						@include rem(16);
					}
					span {
						display: block;
						@include rem(12);
						color:rgba(0,0,0,0.5);
					}
				}
				
			}
			section {
				padding: 20px;
				@include rem(16);
				p {
					@include rem(16);
					margin-bottom: 0;
				}
			}
		}

		@include respond-to(small) {
			margin: 0 20px;
			display: block;
			padding: 0;
			width: calc(100% - 40px);
		}
	}
}

#deploying-fast {
	background: #f3f3f3;
	figure {
		text-align: right;
	}
}

#cloud-native {
	background: #ffffff;
	.block-title {
		text-align: center;
	}
	.block-desc {
		text-align: center;
	}
	figure {
		position: relative;
		display: inline-block;
		figcaption {
			position: absolute;
			text-align: center;
			display: block;
			width: 100%;
			padding-top: 10px;
			@include rem(13);
		}
		&:first-child {
			margin-right: 50px;
		}
		&:last-child {
			margin-left: 50px;
		}
		@include respond-to(small) {
			display: block;
			text-align: center;
			margin: 0!important;
		}
	}
	span.w {
		position: relative;
		span {
			background: #ffffff;
			text-transform: uppercase;
			@include rem(20);
			font-weight:600;
			position: relative;
			z-index: 3;
			display: inline-block;	
		}
		&:before {
			content:"";
			position: absolute;
			display: block;
			height: 100%;
			width: 100%;
			left: 0;
			top: 0;
			background: #fff;
			z-index: 2;
		}
		&:after {
			content:"";
			position: absolute;
			width: 100px;
			border-top: 1px solid #ccc;
			display: block;
			height: 1px;
			left: 50%;
			margin-left: -50px;
			top: 50%;
			z-index: 1;
			transform-origin: center center;
			-ms-transform: rotate(-75deg); /* IE 9 */
			-webkit-transform: rotate(-75deg); /* Chrome, Safari, Opera */
			transform: rotate(-75deg);
		}
		@include respond-to(small) {
			display: inline-block;
			padding: 0 10px;
			margin: 50px 0 !important;
			&:after {
				transform: none;
			}
		}
	}
}

#key-features {
	background: #313c4a;
	color:rgba(255,255,255,0.6);
	.block-title {
		margin-bottom: 70px;
		color:#13fab7;
		text-align: center;
	}
	.feature {
		padding: 0 10px;
		margin-bottom: 50px;
		padding-left: 60px;
		position: relative;
		p {
			@include rem(16);
		}
		.icon {
			position: absolute;
			left: 0;
			top: 5px;
		}
	}
}

#about-footer {
	p {
		font-family: "Source Sans Pro", sans-serif;
		margin-bottom: 1rem;
		font-size: 1.1rem;
		font-weight: 400;
		line-height: 1.6;
		text-rendering: optimizeLegibility;
	}
}

#about {
	p {
		font-family: "Source Sans Pro", sans-serif;
		margin-bottom: 1rem;
		font-size: 1.1rem;
		font-weight: 400;
		line-height: 1.6;
		text-rendering: optimizeLegibility;
	}
	padding: 90px 0;
	.about {
		margin-right: 30px;
	}
	.author {
		border-radius:5px;
		margin-left: 30px;
		background: #ffffff;
		border:1px solid #e9e9e9;
		padding: 25px;
		* {
			font-size:1rem;
		}
		h3, h2 {
			font-size:1.625rem;
		}
		img {
			border-radius:7px;
		}
	}
	@include respond-to(small) {
		.about,
		.author {
			margin-left: 0;
			margin-right: 0;
			img {
				margin:0 auto;
				display: block;
				margin-bottom: 20px;
			}
		}
		padding-top: 50px;
		.author {
			margin-top: 20px;
		}
	}
}

#social-buttons {
	@include reset-list;
	font-family: "Source Sans Pro", sans-serif;
	border-top:1px solid #f6f6f6;
	display: block;
	width: calc(100% + 50px);
	left: -25px;
	position: relative;
	padding: 20px 25px 0 25px;
	display: flex;
	li {
		@include reset-list;
		display: inline-block;
		flex:1;
		margin: 0 6px;
		a {
			width: 100%;
			display: inline-block;
			border:1px solid #000;
			font-size:0.75rem!important;
			text-transform: uppercase;
			color:#000;
			padding: 3px 15px;
			text-align: center;
			border-radius:5px;
			i {
				margin-right: 5px;
				&:before {
					font-size:0.75rem;
				}
			}
			&:hover {
				color:#3570e3;
				border-color: #3570e3;
			}
		}
	}
}