#mainHeader {
	box-sizing: content-box;
	font-family: 'Leto', sans-serif;
	font-weight: normal;
	-webkit-font-smoothing: unset;

	nav {
		top: -4px;
	}
}

footer {
	box-sizing: content-box;

	.copyright {
		a {
			font-family: 'Lato', sans-serif;
			font-size: 1.38em;
			font-weight: 300;
			line-height: 1.6em;
		}
	}
}


#of-header {
    z-index: 0;
	padding: 130px 0;
	padding-bottom: 465px;
	// background: transparent url('../images/layer.png') right top no-repeat;
	color:#fff;
	position: relative;
	display: block;
	.grid-container {
		display: block;
		position: relative;
		z-index: 10000;
	}
	#logo {
		margin-bottom: 25px;
	}

	p {
		font-family:$secondary_font;
		font-size:21px;
		color:rgba(255,255,255,0.5);
		font-style:italic;
	}

	#demo {
		padding-top: 50px;
		letter-spacing:0.05em;
		.btn {
			margin-right: 15px;
			display: inline-block;
			&:hover {
				color:#08a3e1;
			}
		}
		span {
			display: inline-block;
			font-weight: 600;
			margin-left: 15px;
			a {
				color:#fff;
				// @include transition;
				&:before {
					content:"";
					background: transparent url(../images/play.png) center center no-repeat;
					width: 24px;
					height: 24px;
					display: inline-block;
					vertical-align: middle;
					margin-right: 10px;
				}
				&:hover {
					color:#f9f9f9;
				}
			}
		}
		@include respond-to(small) {
			.btn {
				margin-right: 0;
				margin-bottom: 30px;
			}
			span {
				display: block;
				margin-left: 0;
			}
		}
	}

	.wave {
		content:"";
		position: absolute;
		width: 100%;
		height: 164px;
		left: 0;
		bottom: 0;
		background: transparent url(../images/openfaas/wave.png) center bottom no-repeat;
		z-index: 3;
	}
	&:after {
		content:"";
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		position: absolute;
		background: $brand-color;
		z-index: 2;
	}
	#whale {
		position: absolute;
		bottom: 32px;
		left:50%;
		margin-left: -185px;
		width: 369px;
    	max-width: none;
	}
}