<div id="Java" class="tabcontent">
<pre><code class="language-shell">$ faas-cli new --lang java11 java-fn

</code></pre>
<div class="has-text-grey-darker has-text-weight-light">
    Handler.java
</div>
    <pre><code class="language-java">package com.openfaas.function;

import com.openfaas.model.IHandler;
import com.openfaas.model.IResponse;
import com.openfaas.model.IRequest;
import com.openfaas.model.Response;

public class Handler implements com.openfaas.model.IHandler {

    public IResponse Handle(IRequest req) {
        Response res = new Response();
	    res.setBody("Hello, world!");

	    return res;
    }
}</code></pre>
</div>