# ----
# Site

remote_theme: CloudCannon/frisco-jekyll-template

title: OpenFaaS - Serverless Functions Made Simple
url: "https://www.openfaas.com"
baseurl:
google_analytics_key: "UA-60759269-4"
google_maps_javascript_api_key:
disqus_shortname:
markdown: kramdown

kramdown:
  # use Github Flavored Markdown
  input: GFM
  # do not replace newlines by <br>s
  hard_wrap: false

# Values for the jekyll-seo-tag gem (https://github.com/jekyll/jekyll-seo-tag)
logo: /siteicon.png
description: OpenFaaS - Serverless Functions Made Simple
author:
  name:
  email:
  twitter:
    username: openfaas
    card: summary
social:
  name: OpenFaaS - Serverless Functions Made Simple
  links:
    - https://github.com/openfaas/faas

# -----
# Build

timezone: Etc/UTC

permalink: /blog/:title/

plugins:
  - jekyll-sitemap
  - jekyll-seo-tag
  - jekyll-feed
  - jekyll-paginate
  - jekyll-archives
  - jekyll-redirect-from

exclude:
  - Gemfile
  - Gemfile.lock
  - README.md
  - LICENCE.jekyll_theme
  - .DEREK.yml
  - .gitignore
  - CNAME

collections:
  staff_members:
    _hide_content: true

paginate: 10
paginate_path: "/blog/:num/"

jekyll-archives:
  enabled: ['categories']

defaults:
  -
    scope:
      path: ""
    values:
      layout: "landing"
  -
    scope:
      path: "blog"
    values:
      layout: "default"
  -
    scope:
      path: "team"
    values:
      layout: "default"
  -
    scope:
      path: "donate"
    values:
      layout: "default"
  -
    scope:
      path: "support"
    values:
      layout: "default"
  -
    scope:
      type: "posts"
    values:
      layout: "post"
      _options:
        image:
          width: 2000
          height: 1322
          resize_style: cover
        content:
          width: 1500
          height: 2000
  -
    scope:
      path: ""
      type: "pages"
    values:
      image:
        width: 2000
        height: 1322
        resize_style: cover
      bottom_image:
        width: 2000
        height: 1322
        resize_style: cover

# -----------
# CloudCannon

social_icons:
  - GitHub
  - Twitter
  - YouTube
  - Email
  - RSS

_comments:
  description: Text shown when sharing on social media
  blurb: Short bio or description of this person
