# version: "3"
services:
  openfaas-jekyll:
    command: >
      bash -lc "bundle check || bundle install && bundle exec jekyll serve --force_polling --host 0.0.0.0 --port 4000"
    image: jekyll/jekyll:4
    volumes:
      - .:/srv/jekyll
      - site:/srv/jekyll/_site
    ports:
      - 4000:4000
    environment:
      - JEKYLL_UID=1000

volumes:
  site:
