---
title: Home
description: Serverless Functions Made Simple for Docker and Kubernetes.
---

<section class="hero is-primary is-small">
    <div class="hero-body">
        <div class="container has-text-centered">
            <p>
                <img src="{{ site.baseurl }}/images/openfaas/whale.png">
            </p>
        </div>
    </div>

    <div class="hero-body has-text-centered">
        <div class="container">
            <h1 class="title is-size-1 is-capitalized has-text-weight-bold">
                Serverless Functions, Made Simple.
            </h1>
            <h2 class="subtitle is-size-3 has-text-weight-light">
                OpenFaaS® makes it simple to turn anything into a serverless function <br>
                that runs on Linux or Windows through Docker Swarm or Kubernetes.
            </h2>
        </div>
    </div>

    <div class="hero-body wavy">
        {% include landing-page/yt-player/youtube.html %}
    </div>

    <div class="hero-body grey features">
        {% include landing-page/landing-features.html %}
    </div>

    <div class="hero-body grey-darker-bis description">
        {% include landing-page/landing-description.html %}
    </div>

    <div class="hero-body grey demo">
        {% include landing-page/landing-demo.html %}
    </div>

    <div class="hero-body white users">
        {% include landing-page/landing-users.html %}
    </div>

    <div class="hero-body white users">
        {% include landing-page/landing-team.html %}
    </div>
</section>
