---
title: Home
description: Serverless Functions Made Simple with Kubernetes.
image: https://www.openfaas.com/images/preview_image.png
---

<section class="hero is-primary is-small">
    <div class="hero-body has-text-centered">
        {% include landing-page/landing-intro.html %}
    </div>

    <div class="hero-body wavy">
        {% include landing-page/yt-player/youtube.html %}
    </div>

    <div class="hero-body grey features">
        {% include landing-page/landing-features.html %}
    </div>

    <!-- <div class="hero-body white contact-alex">
        {% include landing-page/landing-book.html %}
    </div> -->

    <div class="hero-body grey-darker-bis description">
        {% include landing-page/landing-description.html %}
    </div>

    <div class="hero-body white description">
        {% include landing-page/landing-solutions.html %}
    </div>

    <div class="hero-body grey demo">
        {% include landing-page/landing-demo.html %}
    </div>

    <div class="hero-body grey-darker-bis sponsors">
        {% include landing-page/landing-sponsors.html %}
    </div>

    <div class="hero-body grey call-to-action call-to-action-cards">
        {% include landing-page/landing-bottom-cta-cards.html %}
    </div>

    <div class="hero-body grey call-to-action call-to-action-community">
        {% include landing-page/landing-bottom-cta-community.html %}
    </div>

</section>
