<div class="container">
    <div class="columns is-multiline">
        <div class="column is-12 is-spaced-bottom">
            <div class="cards-wrapper">

                <div class="card has-text-centered is-half mt-6">
                    <div class="card-content  is-justify-content-space-between">
                        <div class="">
                            <div class="card-logo">
                                <figure class="image is-96x96 m-auto">
                                    <img src="{{ site.baseurl }}/images/openfaas/logo-whale-round.png" alt="OpenFaaS for Kubernetes logo">
                                </figure>
                            </div>
                            <h3 class="title is-size-12 is-size-8-desktop has-text-grey-darker">
                                OpenFaaS Standard & Enterprise
                            </h3>
                            <subtitle class="is-size-5 mb-3">
                                A truly portable Serverless platform, built for developers
                            </subtitle>
                            <p style="padding-bottom: 20px" class="has-text-weight-light">Originally created in 2016, OpenFaaS is battle-tested technology.</p>
                        </div>
                        <div>
                           <a class="button is-primary is-medium" href="https://openfaas.com/pricing">openfaas.com</a>
                        </div>
                    </div>
                </div>


                <div class="card has-text-centered is-half mt-6">
                    <div class="card-content  is-justify-content-space-between">
                        <div class="">
                            <div class="card-logo">
                                <figure class="image is-96x96 m-auto">
                                    <img src="{{ site.baseurl }}/images/openfaas/logo-faasd.png" style="border-radius: 30px" alt="OpenFaaS Edge logo">
                                </figure>
                            </div>

                            <h3 class="title is-size-12 is-size-8-desktop has-text-grey-darker">
                                OpenFaaS for Edge
                            </h3>
                            <subtitle class="is-size-5 mb-3">
                                Run functions without Kubernetes
                            </subtitle>
                            <p style="padding-bottom: 20px" class="has-text-weight-light">Built for low-maintenance redistribution and packaging of functions.</p>
                        </div>
                        <div>
                           <a class="button is-primary is-medium" href="https://docs.openfaas.com/deployment/edge/">docs.openfaas.com</a>
                        </div>
                    </div>
                </div>

                <div class="card has-text-centered is-half mt-6">
                    <div class="card-content  is-justify-content-space-between">
                        <div class="">
                            <div class="card-logo">
                                <figure class="image is-96x96 m-auto">
                                    <img src="{{ site.baseurl }}/images/openfaas/logo-actuated.png" alt="Actuated logo">
                                </figure>
                            </div>
                            <h3 class="title is-size-12 is-size-8-desktop has-text-grey-darker">
                                Actuated
                            </h3>
                            <subtitle class="is-size-5 mb-3">
                                Fast, secure, and supported self-hosted runners for GitHub Actions &amp; GitLab CI
                            </subtitle>
                            <p style="padding-bottom: 20px" class="has-text-weight-light">Built with Firecracker for bare-metal speed and fixed-rate costs.</p>
                        </div>
                        <div>
                           <a class="button is-primary is-medium" href="https://actuated.com">actuated.com</a>
                        </div>
                    </div>
                </div>


                <div class="card has-text-centered is-half mt-6">
                    <div class="card-content  is-justify-content-space-between">
                        <div class="">
                            <div class="card-logo">
                                <figure class="image is-96x96 m-auto">
                                    <img src="{{ site.baseurl }}/images/openfaas/logo-inlets.svg" alt="Inlets logo">
                                </figure>
                            </div>
                            <h3 class="title is-size-12 is-size-8-desktop has-text-grey-darker">
                                Inlets
                            </h3>
                            <subtitle class="is-size-5 mb-3">
                                Expose services to the Internet from localhost or Kubernetes
                            </subtitle>
                            <p style="padding-bottom: 20px" class="has-text-weight-light">Expose TCP & HTTP endpoints without rate-limits and complete privacy.</p>
                        </div>
                        <div>
                           <a class="button is-primary is-medium" href="https://inlets.dev">inlets.dev</a>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>
</div>
