<div class="container">
    <div class="columns is-multiline">
        <div class="column is-12 is-spaced-bottom">
            <div class="cards-wrapper">

                <div class="card has-text-centered is-12">
                    <div class="card-content">
                        <div class="card-logo">
                            <figure class="image is-96x96">
                                <img src="{{ site.baseurl }}/images/openfaas/logo-whale-round.png" alt="logo">
                            </figure>
                        </div>
                        <h3 class="title is-size-12 is-size-8-desktop has-text-grey-darker">
                            OpenFaaS Standard & Enterprise
                        </h3>
                        <subtitle class="is-size-5 mb-3">
                            Portable serverless framework for Kubernetes
                        </subtitle>
                        <h3 class="title has-text-weight-light is-size-5 is-size-4-desktop">
                            <p style="padding-bottom: 20px">Build functions and deploy them to production with the power of Kubernetes.</p>

                            <ul style="line-height: 2.5rem; text-align: left; padding-left: 20px; list-style-type: square;">
                                <li>Highly scaleable functions scale up with demand or to zero.</li>
                                <li>Focus on writing code instead of low-level Kubernetes YAML.</li>
                                <li>Get expert support and assistance from the OpenFaaS team.</li>
                                <li>Automate tasks, run scheduled jobs and ETL for your data.</li>
                                <li>Integrate with the API, Helm, ArgoCD or our CLI/Dashboard.</li>
                            </ul>
                        </h3>

                    </div>
                </div>


            </div>
        </div>
    </div>
</div>
