a.underline {
    text-decoration: underline;
}

a.button {
    &.button-use-case {
        height: 55px;

        border: 5px solid;
        border-radius: 13px;

        font-size: 17px;
        color: $of-text-dark;

        background: $of-grey-darker-bis;

        border-color: $of-grey-darker-bis;

        &.is-active {
            border-color: $of-text-dark
        }

        span {
            &.spa {
                color: #00BFF3;
            }

            &.slack {
                color: #662D91;
            }

            &.twitter {
                color: #00AEEF;
            }
        }
    }
}

.here.is-primary {
	.code-samples {
		padding: $padding-step * 4 0;

		.tabs.is-boxed {
			position: relative;
			margin-bottom: 0;

			&:after {
				content: '';

				position: absolute;

				bottom: 0;
				left: 0;

				width: 100%;
				height: 5px;

				background: $of-text-dark;
			}

			li {
				position: relative;
				border-radius: 10px 10px 0 0;

				margin-right: 10px;

				overflow: hidden;

				&:last-child {
					margin-right: 0;
					max-width: 45px;

					font-weight: 400;
				}

				&.is-active {
					border: 5px solid $of-text-dark;
					border-bottom: 0;
					border-width: 5px;

					z-index: 1;

					&:before {
						content: '';

						position: absolute;

						bottom: -5px;
						left: 0;

						width: 100%;
						height: 5px;

						background: $of-grey-darker-bis;
					}
				}

				a {
					margin: 0;
					padding: 10px 0;
					border: 0;

					color: $of-text-dark;
					font-size: 23px;
					font-weight: bold;

					background: $of-grey-darker-bis;
				}
			}
		}

		.code-samples-preview {
			padding: $padding-step;

			border: 5px solid $of-text-dark;
			border-radius: 0 0 10px 10px;
			border-top: 0;

			background: $of-grey-darker-bis;
		}
	}
}


@media (max-width: 1471px) {
    a.button {
        &.button-use-case {
            font-size: 15px;
        }
    }
}

@media (max-width: 1280px) {
    a.button {
        &.button-use-case {
            flex-direction: column;

            height: 60px;
            font-size: 13px;

            border-width: 3px;

            .icon {
                font-size: 19px;
            }
        }
    }
}

@media (max-width: 1080px) {
    a.button {
        &.button-use-case {
            flex-direction: row;
            font-size: 20px;
        }
    }
}


 /* Style the tab */
.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

/* Style the buttons that are used to open the tab content */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}

.tabs {
  overflow: hidden;
  border: 1px solid #ccc;
}