.features {
	.column.is-narrow {
		width: 150px;
	}
}

@media (max-width: $tablet) {
	.feature-box {
		display: -webkit-flex;
		display: -ms-flex;
		display: flex;

		flex-direction: column;

		align-items: center;

		.has-text-centered-mobile {
			margin-bottom: $padding-step;
		}
	}
}

@media (min-width: $tablet) {
	.feature-box {
		flex-wrap: nowrap;
		align-items: center;
	}
}
