.hero {
    .wavy {
        background: url('../images/openfaas/wave-a.svg'), linear-gradient(to bottom, transparent 46%, $of-grey 46%);
        background-repeat: no-repeat;
        background-position: center;
        background-size: 100vw;
    }

    .wavy-2 {
        background: url('../images/openfaas/wave-b.svg');
        background-repeat: no-repeat;
        background-position: center top;
        background-size: 100vw;
    }

    .grey {
        background-color: $of-grey;
    }

    .grey-whiter {
        background-color: $of-grey-whiter;
    }

    .white {
        background-color: white;
    }

    .grey-darker-bis {
        background-color: $of-grey-darker-bis;
    }

    .hero-body {
        &.features {
            padding-top: $padding-step * 4;
            padding-bottom: $padding-step * 6;
        }
        &.description {
            padding-top: $padding-step * 6;
            padding-bottom: $padding-step * 6;
        }

        &.demo {
            padding-top: $padding-step * 7;
            padding-bottom: $padding-step * 6;
        }

        &.users {
            padding-top: $padding-step * 6;
            padding-bottom: $padding-step * 6;
        }

        &.sponsors {
            padding-top: $padding-step * 4;
            padding-bottom: $padding-step * 4;
        }

        &.call-to-action-cards {
            padding-top: $padding-step * 8;
        }

        &.call-to-action-community {
            padding-bottom: $padding-step * 8;

        }

        .column {
            &.is-spaced-bottom {
                padding-bottom: $padding-step * 2;
            }

            &.is-spaced-top {
                padding-top: $padding-step * 2;

                &-x2 {
                    padding-top: $padding-step * 4;
                }
            }
        }
    }
}

.is-spaced-bottom {
                padding-bottom: $padding-step * 2;
            }
