---
title: Team
description: Keep up with the latest news.
image: https://source.unsplash.com/MqJX_8EaStM/2000x1322?a=.png
---

<section class="hero is-primary is-small">
    <div class="hero-body has-text-centered intro">
        <h1 class="title is-size-3 is-size-2-desktop has-text-grey-darker">
            Our Team
        </h1>
        <h1 class="title is-size-5 is-size-4-desktop has-text-grey-darker has-text-weight-light">
            OpenFaaS is an independent community project with many contributors. Meet our team below.
        </h1>
    </div>

    <div class="hero-body grey team-wrapper founder">
        {% include team-page/team-members.html type="Project Lead" members=site.data.members.founders %}
    </div>

    <div class="hero-body grey-whiter team-wrapper core-contributors">
        {% include team-page/team-members.html type="Core Contributors (community)" members=site.data.members.core %}
    </div>

    <div class="hero-body grey team-wrapper git-members">
        {% include team-page/team-members.html type="GitHub Members (community)" members=site.data.members.members %}
    </div>
</section>
