.donate-page-content {
	padding-bottom: $padding-step * 5;

	.card {
		display: -webkit-flex;
		display: -ms-flex;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;

		min-height: 350px;

		padding-bottom: $padding-step;

		border-radius: 10px;

		background-color: #21D4FD;
		background-image: -webkit-linear-gradient(289deg, #21D4FD 0%, #B721FF 100%);
		background-image: -o-linear-gradient(289deg, #21D4FD 0%, #B721FF 100%);
		background-image: linear-gradient(19deg, #21D4FD 0%, #B721FF 100%);

		box-shadow: none;

			.card {
				&-title {
					display: -webkit-flex;
					display: -ms-flex;
					display: flex;

					flex-direction: column;

					justify-content: center;

					min-height: 120px;

					padding: $padding-step $padding-step $padding-step * 2 $padding-step;

					font-size: 25px;
					font-weight: bold;
					text-align: center;

					color: white;

					small {
						font-size: 15px;
					}
				}

				&-info {
					padding: 0 $padding-step $padding-step;

					font-weight: 600;
					color: white;
					text-align: center;

					a {
						color: #ffa74c;
					}
				}

				&-cta {
					padding: $padding-step;

					.button {
						background: transparent;
						color: white;
					}
				}
			}
		}
	}
