<div id="actions">
    <div id="journey" class="action-section">
            <span class="action-logo"><img id="whale" src="./images/anywhere.png"></span>
        <span class="action-title">Start your Serverless journey</span>
        <div class="action-content">
            Start building functions from anywhere on Docker or Kubernetes in 60 seconds.
        </div>
        <a class="action-button" href="https://github.com/openfaas/workshop">
            <i class="action-button-logo fas fa-file-alt"></i>View OpenFaaS Guide
        </a>
    </div>
    <div id="cloud" class="action-section">
        <span class="action-logo"><img id="whale" src="./images/anywhere.png"></span>
        <span class="action-title">Introducing OpenFaaS Cloud</span>
        <div class="action-content">
            A managed, multi-user distribution of OpenFaaS with a personalized dashboard, powered by Git.
        </div>
        <a class="action-button" href="https://github.com/openfaas/openfaas-cloud">
            <i class="action-button-logo fas fa-cloud"></i>Learn More
        </a>
    </div>
</div>