<footer class="footer">
	<div class="container is-fluid">
		<div class="footer-wrapper">
			<div class="footer-wrapper-left">
				<p>
					OpenFaaS &reg; was founded by <a href="https://www.alexellis.io/">Alex Ellis</a> and is hosted by OpenFaaS Ltd.<br>
					OpenFaaS Ltd. is a registered company in England & Wales with number: 11076587, registered address: Peterborough UK.
				</p>
			</div>
			<div class="footer-wrapper-right">
                <a href="https://landscape.cncf.io/format=serverless">
                    <small>Featured on</small>
                    <img src="{{ site.baseurl }}/images/openfaas/cloud-native.png" alt="CNCF Logo">
                </a>
			</div>
		</div>
	</div>
</footer>
