<footer class="footer">
	<div class="container is-fluid">
		<div class="content">
			<div class="columns">
				<div class="column is-9">
					<p>
						OpenFaaS ® was founded by <a href="https://www.alexellis.io/">alexellis</a> and is being built by a growing <a href="https://kenfdev.o6s.io/github-stats-page#/">community of contributors.</a>
						OpenFaaS Ltd. is a registered company in England & Wales with number: 11076587, registered address: Peterborough UK.
					</p>
				</div>
				<div class="column is-3 has-text-right">
					<div class="columns is-multiline">
						<div class="column is-12 is-paddingless">
							<small>Featured on</small>
						</div>
						<div class="column is-12 is-paddingless">
							<a href="">
								<img src="{{ site.baseurl }}/images/openfaas/cloud-native.png">
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</footer>
