<section class="tiers">
    <div class="text-container">
        {% for tier in site.data.sponsors %}
        {% if tier[1].size > 0 %}
        <div class="tier">
            <div class="title">{{tier[0] | capitalize}} Sponsors</div>
            <div class="sponsors">
                {% for sponsor in tier[1] %}
                {% include sponsor.html url=sponsor.url name=sponsor.name logo=sponsor.logo alt=sponsor.alt %}
                {% endfor %}
            </div>
        </div>
        {% endif %}
        {% endfor %}
    </div>
</section>