<div class="container">
    <div class="columns is-multiline is-spaced-top-x2">
        <div class="column is-12 is-spaces-top-x2">
            <div class="has-text-centered">
                <div class="card-content">
                    <h1 class="title is-size-4 is-size-3-desktop has-text-grey-darker">
                        Need Professional Support?
                    </h1>
                    <h1 class="title has-text-weight-light is-size-4 is-size-4-desktop has-text-grey">
                        As the project host OpenFaaS Ltd offers: on-site training, installation of
                        OpenFaaS / OpenFaaS Cloud, drop-in and regular consultations, technical support. Wherever you
                        are in your journey, whether you would like to build a Proof-of-concept, migrate to the cloud,
                        or review your architecture with an expert.
                    </h1>
                </div>
                <a href="mailto:sales@openfaas.com" target="_top" class="button is-primary is-large">
                    <span class="icon"><i class="fas fa-envelope-open-text"></i></span>
                    <span>CONTACT SALES</span>
                </a>
            </div>
        </div>
    </div>
</div>