<div class="container">
    <div class="columns is-multiline is-spaced-top-x2">
        <div class="column is-12 is-spaces-top-x2">
            <div class="has-text-centered">
                <div class="card-content">
                    <h1 class="title is-size-4 is-size-3-desktop has-text-grey-darker">
                        Proof of Concept Package
                    </h1>
                    <h1 class="text-align: left; title has-text-weight-light is-size-4 is-size-4-desktop has-text-grey">
                        So you've decided to build out a project with OpenFaaS? Buy a fixed-price 
                        package from us and we'll provide our time, expertise and support to help you get 
                        everything you need from custom language templates to SSO.
                    <h1 class="text-align: left; title has-text-weight-light is-size-4 is-size-4-desktop has-text-grey">
                        Nobody knows OpenFaaS better than us, if you want to give yourselves an unfair 
                        advantage, we're ready to help.
                    </h1>
                </div>
                <a href="mailto:sales@openfaas.com" target="_top" class="button is-primary is-large">
                    <span class="icon"><i class="fas fa-envelope-open-text"></i></span>
                    <span>GET A QUOTE</span>
                </a>
            </div>
        </div>
    </div>
</div>