<div class="container">
            <div class="columns is-multiline">
                <div class="column is-12 is-spaced-bottom">
                    <div class="cards-wrapper">
                        <div class="card has-text-centered">
                            <div class="card-content">
                                <div class="card-logo">
                                    <figure class="image">
                                        <img src="{{ site.baseurl }}/images/openfaas/logo-whale-round.png" alt="logo">
                                    </figure>
                                </div>
                                <h1 class="title is-size-4 is-size-3-desktop has-text-grey-darker">
                                    Buy an Insiders Subscription
                                </h1>
                                <h1 class="title has-text-weight-light is-size-5 is-size-4-desktop has-text-grey">
                                    Subscribe to the Insiders program through <a href="https://github.com/users/alexellis/sponsorship">GitHub Sponsors</a>

                                    All subscribers gain exclusive access to regular update emails with the latest news, tutorials, industry news about OpenFaaS, Serverless, Kubernetes, and Docker.
                                </h1>
                            </div>

                            <a href="https://github.com/users/alexellis/sponsorship" target="_blank" class="button is-primary is-large">
                                <span class="icon"><i class="fab fa-github"></i></span>
                                <span>BUY A SUBSCRIPTION</span>
                            </a>
                        </div>

                        <div class="card has-text-centered">
                            <div class="card-content">
                                <div class="card-logo">
                                    <figure class="image">
                                        <img src="{{ site.baseurl }}/images/openfaas/whale.png" alt="logo">
                                    </figure>
                                </div>
                                <h1 class="title is-size-4 is-size-3-desktop has-text-grey-darker">
                                    Your logo on openfaas.com 🏆
                                </h1>
                                <h1 class="title has-text-weight-light is-size-5 is-size-4-desktop has-text-grey">
                                    Become a sponsor of <a href="https://openfaas.com">openfaas.com</a> and connect
                                    your brand to one of the fastest-growing developer communities with over
                                    23k GitHub stars across the codebase and dozens of well-known end-users.
                                    <br/><br/>Email <a href="mailto:sales@openfaas.com">sales@openfaas.com</a>
                                    to ask about how to sponsor by invoice through OpenFaaS Ltd.
                                </h1>

                            </div>
                            <a href="mailto:sales@openfaas.com" target="_top" class="button is-primary is-large">
                                <span class="icon"><i class="fas fa-envelope-open-text"></i></span>
                                <span>CONTACT SALES</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
</div>
