<div class="container">
    <div class="columns is-multiline">
        <div class="column is-12 is-spaced-bottom">
            <div class="cards-wrapper">

                <div class="card has-text-centered">
                    <div class="card-content">
                        <div class="card-logo">
                            <figure class="image">
                                <img src="{{ site.baseurl }}/images/openfaas/whale.png" alt="logo">
                            </figure>
                        </div>
                        <h1 class="title is-size-4 is-size-3-desktop has-text-grey-darker">
                            Premium Subscription
                        </h1>
                        <h1 class="title has-text-weight-light is-size-5 is-size-4-desktop has-text-grey">
                            <p style="padding-bottom: 20px">Buy a Premium Subscription and enjoy:</p>

                            <ul style="text-align: left; padding-left: 20px; list-style-type: square;">
                                <li>Commercial add-ons: Single-sign-on (SSO) with OIDC / OAuth2</li>
                                <li>Free Architecture Review</li>
                                <li>Priority responses on GitHub Issues and PRs</li>
                                <li>Backlog review and prioritization every 3-6 months</li>
                                <li>Notification of security issues and CVEs</li>
                            </ul>
                        </h1>

                    </div>
                    <a href="https://forms.gle/rpsXbcr6EuaYPdJw7" target="_top" class="button is-primary is-large">
                        <span class="icon"><i class="fas fa-envelope-open-text"></i></span>
                        <span>REGISTER INTEREST</span>
                    </a>
                </div>

                <div class="card has-text-centered">
                    <div class="card-content">
                        <div class="card-logo">
                            <figure class="image">
                                <img src="{{ site.baseurl }}/images/openfaas/logo-whale-round.png" alt="logo">
                            </figure>
                        </div>
                        <h1 class="title is-size-4 is-size-3-desktop has-text-grey-darker">
                            Community Insiders Program
                        </h1>
                        <h1 class="title has-text-weight-light is-size-5 is-size-4-desktop has-text-grey">
                            <p style="padding-bottom: 20px">Join the community subscription program via <a href="https://github.com/users/alexellis/sponsorship">GitHub Sponsors</a></p>

                            <ul style="text-align: left; padding-left: 20px; list-style-type: square;">
                                <li>Hear directly from OpenFaaS Founder Alex Ellis</li>
                                <li>Receive weekly email updates on OpenFaaS.</li>
                                <li>Get access to new tutorials, videos and blog posts.</li>
                                <li>Get resources for Kubernetes and other Cloud Native projects.</li>
                            </ul>
                        </h1>
                    </div>

                    <a href="https://github.com/users/alexellis/sponsorship" target="_blank" class="button is-primary is-large">
                        <span class="icon"><i class="fab fa-github"></i></span>
                        <span>JOIN INSIDERS</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
