<div class="container">
    <div class="columns is-multiline is-spaced-top-x2">
        <div class="column is-12 is-spaces-top-x2">
            <div class="has-text-centered">
                <div class="card-content">
                    <h3 class="title is-size-4 is-size-3-desktop has-text-grey-darker">
                        Your logo on openfaas.com 🏆
                    </h3>
                    <h3 class="title has-text-weight-light is-size-4 is-size-4-desktop has-text-grey">
                        Become a sponsor of <a href="https://openfaas.com">openfaas.com</a> and connect
                        your brand to one of the fastest-growing developer communities with over
                        30k GitHub stars across the codebase and dozens of well-known end-users.
                    </h3>
                </div>
                <a href="https://github.com/sponsors/openfaas" target="_top" class="button is-primary is-large">
                    <span class="icon"><i class="fab fa-github"></i></span>
                    <span>SELECT TIER</span>
                </a>
            </div>
        </div>
    </div>
</div>
