<div class="container">
    <div class="columns is-multiline is-spaced-top-x2">
        <div class="column is-12 is-spaces-top-x2">
            <div>
                <div class="card-content">
                    <h2 class="has-text-centered title is-size-4 is-size-3-desktop has-text-grey-darker">
                        Become an OpenFaaS Supporter
                    </h2>
                    <p class="text-align: left; title has-text-weight-light is-size-4 is-size-4-desktop has-text-grey">
                        Whether you're kicking the tires or scaling out in production, your sponsorship via GitHub will help us to grow the project and to continue to provide support to the community.
                    <p class="text-align: left; title has-text-weight-light is-size-4 is-size-4-desktop has-text-grey">
                        In return you'll show up as as sponsor on GitHub Issues and Pull Requests, get access to weekly email updates and discounts on all our eBooks.
                    </p>

                    <a href="https://github.com/sponsors/openfaas" target="_top" class="button is-primary is-large">
                        <span class="icon"><i class="fas fa-envelope-open-text"></i></span>
                        <span>SUPPORT OPENFAAS</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>