<div class="container">
    <div class="columns is-multiline">
        <div class="column is-12 is-spaced-bottom">
            <div class="cards-wrapper">

                <div class="card has-text-centered">
                    <div class="card-content">
                        <div class="card-logo">
                            <figure class="image">
                                <img src="{{ site.baseurl }}/images/openfaas/logo-whale-round.png" alt="logo">
                            </figure>
                        </div>
                        <h3 class="title is-size-4 is-size-3-desktop has-text-grey-darker">
                            OpenFaaS Pro &amp; Enterprise Support
                        </h3>
                        <h3 class="title has-text-weight-light is-size-5 is-size-4-desktop has-text-grey">
                            <p style="padding-bottom: 20px">Through a relationship with us, you can:</p>

                            <ul style="line-height: 2.5rem; text-align: left; padding-left: 20px; list-style-type: square;">
                                <li>Get the world's best support for the open source project.</li>
                                <li>Have the peace of mind of working with the creators of OpenFaaS</li>
                                <li>Unlock commercial features: Integrate with Kafka, scale idle functions down and retry failed invocations.</li>
                                <li>Get notifications for security issues and CVEs.</li>
                                <li>Learn best practices for OpenFaaS on Kubernetes.</li>
                            </ul>
                        </h3>

                    </div>
                    <a href="https://forms.gle/rpsXbcr6EuaYPdJw7" target="_top" class="button is-primary is-large">
                        <span class="icon"><i class="fas fa-envelope-open-text"></i></span>
                        <span>REGISTER INTEREST</span>
                    </a>
                </div>

                <div class="card has-text-centered">
                    <div class="card-content">
                        <div class="card-logo">
                            <figure class="image">
                                <span style="font-size: 60pt" class="icon"><i class="fas fa-headset"></i></span>
                            </figure>
                        </div>
                        <h3 class="title is-size-4 is-size-3-desktop has-text-grey-darker">
                            Do you want to speak to a human?
                        </h3>
                        <h3 class="title has-text-weight-light is-size-5 is-size-4-desktop has-text-grey">
                            <p style="padding-bottom: 20px">Book a paid consultation with an OpenFaaS expert.</p>

                            <ul style="line-height: 2.5rem; text-align: left; padding-left: 20px; list-style-type: square;">
                                <li>Get help or advice with a problem or pain point.</li>
                                <li>Discounts available for small businesses.</li>
                                <li>No paperwork: pay with your company credit card.</li>
                            </ul>
                        </h3>
                    </div>

                    <a href="https://calendly.com/alexellis/" target="_blank" class="button is-primary is-large">
                        <span class="icon"><i class="far fa-credit-card"></i></span>
                        <span>BOOK YOUR SESSION</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
