<div class="container">
    <div class="columns is-multiline is-spaced-top-x2">
        <div class="column is-12 is-spaces-top-x2">
            <div class="has-text-centered">
                <div class="card-content">
                    <h1 class="title is-size-4 is-size-3-desktop has-text-grey-darker">
                        Talk to our experts today.
                    </h1>
                    <h1 class="text-align: left; title has-text-weight-light is-size-4 is-size-4-desktop has-text-grey">
                        Wherever you are with OpenFaaS and Kubernetes, we're ready to meet with your team and provide help.
                    <h1 class="text-align: left; title has-text-weight-light is-size-4 is-size-4-desktop has-text-grey">
                        Do you have questions about public cloud, authentication, custom templates, CI/CD or long-running jobs?
                    </h1>
                    <h1 class="text-align: left; title has-text-weight-light is-size-4 is-size-4-desktop has-text-grey">
                        Book a consultation with one of our experts today to get help and feedback.
                    </h1>
                </div>
                <a href="https://calendly.com/alexellis/" target="_top" class="button is-primary is-large">
                    <span class="icon"><i class="fas fa-envelope-open-text"></i></span>
                    <span>BOOK NOW</span>
                </a>
            </div>
        </div>
    </div>
</div>