<div class="container">
    <div class="section">
        <div class="card has-text-centered">
            <div class="card-content">
                <h3 class="title is-size-4 is-size-3-desktop has-text-grey-darker">
                    Our Company Values
                </h3>
                <h3 class="title has-text-weight-light is-size-5 is-size-4-desktop has-text-grey">
                    <p style="padding-bottom: 20px">When you work with us.</p>

                    <ul style="line-height: 2.5rem; text-align: left; padding-left: 20px; list-style-type: square;">
                        <li><b>Integrity, First and Foremost.</b></li>
                        <li style="list-style-type: none;">We earn trust by making the right decisions and will be rewarded for acting ethically.</li>
                        <li><b>Customer Empathy.</b></li>
                        <li style="list-style-type: none;">Our goal is to create useful software which is of value to our customers. So we will use our own solutions, and act to improve their experience.</li>
                        <li><b>Simple Solutions.</b></li>
                        <li style="list-style-type: none;">We prefer working solutions which deliver value, over contrived or elaborate ones.</li>
                        <li><b>Intrinsic Motivation.</b></li>
                        <li style="list-style-type: none;">We are responsible for our own inspiration and motivation. We learn from others and maintain a high level of curiosity and positivity.</li>
                        <li><b>Accountability and Ownership.</b></li>
                        <li style="list-style-type: none;">We are accountable to each other and our customers for our work and our conduct. We own our mistakes and look to learn from them. We win or lose together, and act that way.</li>
                        <li><b>Clear Communication.</b></li>
                        <li style="list-style-type: none;">We communicate with clarity on a regular basis. We are open to constructive feedback so that we can do better.</li>
                    </ul>
                </h3>

            </div>

        </div>

    </div>
</div>

