.blog-posts {
	list-style: none;
	padding: 0;
	margin: 0;
	font-size: 1em;

	li {
		padding: 50px 0;
	}

	.blog-post {
		padding: 18px 0;

		&:first-child {
			padding-top: 50px;
		}

		.post-details {
			padding-top: 15px;

		}
	}
}

.blog-post {

	.author {
		padding: 30px 0 0 0;
		border: 1px solid #eee;
		margin: 30px 0;
		font-size: .8em;

		.square-image {
			width: 125px;
			height: 125px;
		}
		.name {
			font-size: 1.5em;
			font-weight: bold;
			text-align: center;
		}
		.blurb {
			text-align: center;
		}
	}
	h3 {
		margin: 0;
		a {
			color: #000;
			text-decoration: none;
			font-weight: normal;
			font-size: 1.3em;
		}
	}

	h2 {
		text-align: left;
		font-size: 2.6em;
		margin: 0;
	}

	.post-details {
		border-bottom: 1px solid #eee;
		font-size: .9em;
		margin: 0;
		padding: 40px 0 0 0;

		.blog-filter {
			display: inline-block;
			text-align: left;

			a {
				position: relative;
				top: -5px;
			}
		}

		a {
			text-decoration: none;
		}

		.post-date {
			float: right;
		}

		&:after {
			content: "";
			display: table;
			clear: both;
		}
	}

	.post-content {
		padding: 0 0 40px 0;

		.button {
			margin: 30px 0 0 0;
		}

		p, ul {
			font-family: "Merriweather", serif;
			font-feature-settings: "liga", "onum", "kern";
			font-size: 18px;
			word-wrap: break-word;
			letter-spacing: 0.1px;
			line-height: 31.5px;
		}

		blockquote {
			margin: 1.75em 0 1.75em -2.2em;
			padding: 0 0 0 1.75em;
			border-left: #4A4A4A 0.4em solid;
		}
		
		blockquote, blockquote p {
			font-style: italic;
			word-wrap: break-word;
		}

		h2, h3, h4 {
			font-family: "Open Sans", sans-serif;
			font-feature-settings: "dlig", "liga", "lnum", "kern";
			text-rendering: geometricPrecision;
			word-wrap: break-word;
		}

		h2 {
			font-size: 36px;
			font-weight: 700;
			letter-spacing: -1px;
			line-height: 41.4px;
			margin-bottom: 14.4px;
		}

		h3 {
			font-size: 30px;
			font-weight: 700;
			letter-spacing: -0.6px;
			line-height: 34.5px;
			margin-bottom: 12px;
		}

		h4 {
			font-size: 24px;
			font-weight: 700;
			letter-spacing: -0.6px;
			line-height: 34.5px;
			margin-bottom: 12px;
		}

		.highlight pre {
			background-color: #ffffff;
			margin: 0 0 1.75em 0;
			border: #E3EDF3 1px solid;
			padding: 10px;
			font-family: Inconsolata, monospace, sans-serif;
			font-size: 16.2px;
			line-height: 31.5px;
			white-space: pre;
			overflow: auto;
			border-radius: 3px;
		}
	}
}

.pagination {
	text-align: center;
}

.blog-filter {
	text-align: center;
	a {
		background: #eee;
    padding: 3px 5px;
    font-size: .8em;
    border-radius: 5px;
    color: #888;
		transition: .2s ease-in-out;

		&:hover {
			color: #555;
			text-decoration: none;
		}
	}
}

.blog-filter.cross a {
	padding-right: 8px;

	&:after {
		content: "x";
		font-size: .5em;
		position: relative;
		bottom: 4px;
		right: -3px;
	}
}

.change-category {
	margin: 0;
	padding: 30px 0;
}

.blog-navigation {
	font-size: 14px;
	display: block;
	width: auto;
	overflow: hidden;
	a {
		display: block;
		width: 50%;
		float: left;
		margin: 1em 0;
	}

	.next {
		text-align: right;
	}
}

.pagination {
	padding: 30px
}
