footer {
	font-size: .6em;
	position: relative;
	background: #383838;
	color: #fff;

	.container {
		margin: 0 auto;
		position: relative;
		padding: 0 20px;
		clear: left; 
	}

	.openfaas {
		background: #4563dd;
		padding-top: 10px;
		padding-bottom: 30px;
		text-align: center;
		@media #{$footer-mission-statement-fit} {
			text-align: unset;
		}
	}

	.cncf {
		background: #383838;
	}

	&,
	a {
		color: #fff;
	}

	a {
		text-decoration: none;
		padding: 0 14px;

		&:hover {
			color: #fff;
			text-decoration: underline;
		}
	}

	ul {
		padding: 0;
		margin: 0;

		&.footer-right-links {
			float: right;
			font-size: 1.8em;
			visibility: hidden;
			@media #{$footer-menu-fit} {
				visibility: visible;
			}
			text-transform: uppercase;
			padding-top: 1px;
		}

		&.footer-left-links {
			@media #{$footer-mission-statement-fit} {
				float: left;
			}
		}

		li {
			list-style: none;
			margin: 21px auto;
			display: inline-block;

			a {

				svg {
					fill: #999;
					transition: fill 0.2s ease;
					vertical-align: middle;
					width: 18px;
					height: 18px;
				}

				&:hover svg {
					fill: #fff;
				}

				&.twitter-icon:hover svg {
					fill: #55acee;
				}

				&.google-plus-icon:hover svg {
					fill: #db4437;
				}

				&.youtube-icon:hover svg {
					fill: #cd201f;
				}

				&.instagram-icon:hover svg {
					fill: #f167f5;
				}

				&.linkedin-icon:hover svg {
					fill: #0077b5;
				}

				&.pinterest-icon:hover svg {
					fill: #bd081c;
				}

				&.rss-icon:hover svg {
					fill: #f26522;
				}
			}
		}
	}
	
	.logo {
		img {
			height: 24px;
		}

		.icon {
			height: 30px;
			padding-right: 5px;
		}

		a {
			padding: 0px;
		}
	}



	.missionstatement {
		padding: 0;
		list-style: none;
		margin: 24px auto auto 24px;
		letter-spacing: 0.05em;
		display: inline-block;
		font-size: 1.7em;
		font-weight: 900;
		font-family: "Leto", sans-serif;
	}


	.copyright {
		overflow: hidden;
		display: inline-block;
		font-size: 1.2em;
	
		a {
			color: #fff;
			font-size: inherit;
			text-decoration: underline;
			padding: 0px;
		}
	
		@media #{$desktop} {
			float: none;
			padding: 30px 0;
			margin: 0;
		}

		p {
			color: #939393;
			margin-bottom: 0px;
			margin-block-start: 0px;
		}
	}

	.landscape {
		float: right;
		display: inline-block;
		color: #939393;
		text-align: right;
		font-style: italic;
		font-size: .8em;
		padding-top: 25px;

		p {
			margin: 0px;
		}
	
	}
}
