.hero {
	color: #f9f9f9;
	text-align: center;
	height: 45vh;
	min-height: 550px;
	background: $brand-color;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;

	&:before {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		height: 300px;
}

	p {
		color: #f9f9f9;
	}

	.inner-hero {
		display: flex;
		align-items: center;
		height: 100%;
	}

	.hero-text-container {
		width: 600px;
		text-align: left;

		h1, h2, p, .button {
			text-shadow: 1px 1px 1px rgba(0,0,0,.8);
		}

		.dark-background-title {
			background-color: rgba(0,0,0,0.5);
		}

		.dark-background-description {
			background-color: rgba(0,0,0,0.8);
		}
	}

	.hero-text-right {
		position: absolute;
		right: 0;
	}
}


.full {
	min-height: calc(100vh - 53px);
	background-color: #f9f9f9;
}

.image {
	text-align: center;
}

.bottom-cta {
	text-align: center;

	h2 {
		margin-bottom: 12px;
	}
}

@media #{$desktop} {
	.flex {
		@include flexbox;
		align-items: center;
		flex-direction: row;

		.text, .image {
			-webkit-flex: 1;
			flex: 1;
			padding: 0 20px;
		}
	}

	.content section:nth-child(even) .flex {
		flex-direction: row-reverse;
	}
}
