@import "variables";

//-------------------- General definitions --------------------//
$font-stack: 'Rubik', sans-serif; //A list of fonts
$table-w: 100%; // width definition , relative to parent

//-------------------- Colors -------------------- //
$header-bg-color: $brand-color; //header color , pulls in brand color from 'variables.scss'.
$header-text-color: #FFF; //header text color
$table-text-color: #000; //table text color
$border-style: 1px solid #CCC; //simple grey border
$row-primary-color: #f2f2f2; //background row color.

//-------------------- Utility --------------------//
$text-align: left; // alignment , when you need it
$skinny-font: 100; // fat free font size
$small-screen: 800px; //used for media queries

.post-content table {
  font-family: $font-stack;
  color: $table-text-color;
  border-collapse: collapse;
  width: $table-w;
  border: $border-style;
  @media screen and (max-width: $small-screen) {
    font-size: 0.8rem;
  }

  td,
  th {
    padding: 1rem;
    border: $border-style;
  }

  th {
    text-align: $text-align;
    background-color: $header-bg-color;
    font-weight: $skinny-font;
    color: $header-text-color;
  }

  thead {
    tr {
        th {
            a {
                color: white;
                a:hover, a:visited, a:active {
                    color: white;
                }
            }
        }
    }
  }
  tr:nth-child(even) {
    background-color: $row-primary-color;
  }
}
