$brand-color: rgba(69,99,221,1);

// Breakpoints
$tablet: "(min-width: 450px)";
$mid-point: "(min-width: 760px)";
$desktop: "(min-width: 768px)";

$footer-menu-fit: "(min-width: 1050px)";
$footer-mission-statement-fit: "(min-width: 550px)";