<div class="container">
    <div class="columns is-multiline is-spaced-top-x2">
        <div class="column is-12 is-spaces-top-x2">
            <div>
                <div class="card-content">
                    <h1 class="has-text-centered title is-size-4 is-size-3-desktop has-text-grey-darker">
                        We know how to build communities 🏆
                    </h1>
                    <h1 class="title has-text-weight-light is-size-4 is-size-4-desktop has-text-grey">
                        After launching and growing dozens of our own Open Source projects, and building key connections, 
                        we started offering our services to other Cloud Native companies.
                        Since 2019 we've helped leading brands like Rancher, Equinix Metal, Sysdig, Canonical, Civo, The LinuxFoundation and many others.
                    </h1>
                </div>

            </div>
        </div>
    </div>
</div>
