<div class="container">
    <div class="columns is-multiline is-spaced-top-x2">
        <div class="column is-12 is-spaces-top-x2">
            <div>
                <div class="card-content">
                    <h1 class="has-text-centered title is-size-4 is-size-3-desktop has-text-grey-darker">
                        Talk to us today
                    </h1>

                    <h1 class="title has-text-weight-light is-size-4 is-size-4-desktop has-text-grey margin-top: 30px">
                        <strong>As a CNCF Ambassador, speaker, author and respected open source maintainer, <a href="https://www.alexellis.io/">our founder (Alex Ellis)</a> brings a wealth of experience, and key industry connections.</strong>
                    </h1>

                    <div class="column is-10">    
                        <div class="card">
                          <div class="card-content">
                            <div class="media">
                              <div class="media-left">
                                <figure class="image is-48x48">
                                  <img src="/images/customers/clyde.jpg" alt="Avatar">
                                </figure>
                              </div>
                              <div class="media-content">
                                <p class="title is-4">Clyde Seepersad</p>
                                <p class="subtitle is-6">SVP and GM Training &amp; Certification, The Linux Foundation</p>
                              </div>
                            </div>
                        
                            <div class="content">"Alex and team were great partners [for the Introduction to Serverless on Kubernetes course], providing high quality course materials on time, and following the launch, they were very supportive in getting the word out. We look forward to continued collaboration.”
                            </div>
                          </div>
                        </div>
                    </div>

                    <div class="column is-10">    
                        <div class="card">
                          <div class="card-content">
                            <div class="media">
                              <div class="media-left">
                                <figure class="image is-48x48">
                                  <img src="/images/customers/markb.jpg" alt="Avatar">
                                </figure>
                              </div>
                              <div class="media-content">
                                <p class="title is-4">Mark Boost</p>
                                <p class="subtitle is-6">CEO Civo Cloud</p>
                              </div>
                            </div>
                        
                            <div class="content">"Alex’s knowledge on anything Cloud Native is second to none, and his support helped Civo launch the world’s first managed K3s service! I highly recommend working with him."
                            </div>
                          </div>
                        </div>
                    </div>

                    <div class="column is-10">    
                      <div class="card">
                        <div class="card-content">
                          <div class="media">
                            <div class="media-left">
                              <figure class="image is-48x48">
                                <img src="/images/customers/markc.jpg" alt="Avatar">
                              </figure>
                            </div>
                            <div class="media-content">
                              <p class="title is-4">Mark Coleman</p>
                              <p class="subtitle is-6">Director Developer Relations, Equinix Metal</p>
                            </div>
                          </div>
                      
                          <div class="content">"Alex's Venn diagram of expertise around hardware, open source software and community building was uniquely advantageous when we started the adventure of bringing Tinkerbell into the world. His help ranged from developer experience and community enablement, to thought-leadership and  technical content. There aren't many people who can offer that mix."
                          </div>
                        </div>
                      </div>
                  </div>


                    <h1 class="title has-text-weight-light is-size-4 is-size-4-desktop has-text-grey">
                        Reach out to find out how we can help you with your brand and community.
                    </h1>


                    <a href="mailto:contact@openfaas.com" target="_top" class="button is-primary is-large">
                        <span class="icon"><i class="fas fa-envelope-open-text"></i></span>
                        <span>CONTACT US</span>
                    </a>
                </div>

            </div>
        </div>
    </div>
</div>