<div class="container">
    <div class="columns is-multiline">
        <div class="column is-12 is-spaced-bottom">
            <div class="cards-wrapper">
                <div class="card has-text-centered" style="min-height: auto;">
                    <div class="card-content">
                        <div style="margin-bottom: 20px">
                            <i class="fa fa-laptop-code is-size-1"></i>
                        </div>
                        <h1 class="title is-size-4 is-size-3-desktop has-text-grey-darker">
                            Create a developer community
                        </h1>
                        <h1 class="title has-text-weight-light is-size-5 is-size-4-desktop has-text-grey">
                            <ul style="line-height: 2.5rem; text-align: left; padding-left: 20px; list-style-type: square;">
                                <li>Do you have a new product in beta?</li>
                                <li>Would you like expert feedback?</li>
                                <li>Do you need to build credibility with a Cloud Native audience?</li>
                                <li>Ease onboarding, experimentation and foster relationships with developers.</li>
                            </ul>
                        </h1>
                    </div>
                </div>
                
                <div class="card has-text-centered" style="min-height: auto;">
                    <div class="card-content">
                        <div style="margin-bottom: 20px">
                            <i class="fa fa-users is-size-1"></i>
                        </div>
                        <h1 class="title is-size-4 is-size-3-desktop has-text-grey-darker">
                            Build your audience
                        </h1>
                        <h1 class="title has-text-weight-light is-size-5 is-size-4-desktop has-text-grey">
                            <ul style="line-height: 2.5rem; text-align: left; padding-left: 20px; list-style-type: square;">
                                <li>With compelling technical content about your projects & products</li>
                                <li>And expertly crafted technical samples, webinars, GitHub repos, collaborations</li>
                                <li>Get more leads, more mentions, more stars and more engagement, then and turn that into sales</li>
                            </ul>
                        </h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
