<div class="container">
    <div class="columns is-multiline is-spaced-top-x2">
        <div class="column is-12 is-spaces-top-x2">
            <div>
                <div class="card-content">
                    <h1 class="has-text-centered title is-size-4 is-size-3-desktop has-text-grey-darker">
                        Talk to us today
                    </h1>
                    <h1 class="title has-text-weight-light is-size-4 is-size-4-desktop has-text-grey">
                        Reach out to find out how we can help you with your brand and community.
                    </h1>
                    <h1 class="title has-text-weight-light is-size-4 is-size-4-desktop has-text-grey">
                        <strong>As a CNCF Ambassador, speaker, author and respected open source maintainer, our founder brings a wealth of experience, and key industry connections.</strong>
                    </h1>
                    <a href="mailto:sales@openfaas.com" target="_top" class="button is-primary is-large">
                        <span class="icon"><i class="fas fa-envelope-open-text"></i></span>
                        <span>CONTACT US</span>
                    </a>
                </div>

            </div>
        </div>
    </div>
</div>