{% for post in include.posts %}
	<li class="blog-post">
		<h1 class="title is-size-4 is-size-3-desktop has-text-weight-light">
			<a href="{% include relative-src.html src=post.url %}">{{ post.title }}</a>
		</h1>
		{% include blog-page/post-title.html post=post %}
		<div class="post-preview">
			{{ post.excerpt }}

			<p class="is-size-6">
			{% if post.author_staff_member_editor %}
				{% assign author_id = post.author_staff_member | prepend: "/staff_members/" | append: "/" %}
				{% assign editor_id = post.author_staff_member_editor | prepend: "/staff_members/" | append: "/" %}

				{% assign author = site.staff_members | where: "url", author_id | first %}
				{% assign editor = site.staff_members | where: "url", editor_id | first %}		

				{{ author.name }} and {{ editor.name }}
			{% else %}
				{% assign author_id = post.author_staff_member | prepend: "/staff_members/" | append: "/" %}

				{% assign author = site.staff_members | where: "url", author_id | first %}

				{{ author.name }}
			{% endif %}
			</p>
			<a class="button is-outlined is-large is-primary" href="{% include relative-src.html src=post.url %}">
				Read Now
			</a>
		</div>
	</li>
{% endfor %}
