body{
    background: #E6E6E6
}
.is-one-third{
    padding: 4rem 5rem;
}
.spacer{
    height: 40px;
}
.plan_title{
    margin-bottom: 0 !important;
}
.plan_subtitle{
    color: #90A4AE;
}
.price{
    margin-top: 40px;
}
.price h2{
    color: #00C4A7;
}
.price span{
    font-size: 20px; 
}
.unavailable{
    text-decoration:line-through;
    color: #90A4AE;
}
.best_selling{
    background: #003049;
}
.best_selling h2{
    color: #F77F00;
}
.best_selling_btn{
    background: #f77f00 !important;
}