<div class="container">
    <div class="columns is-multiline">
        <div class="column is-12 is-spaced-bottom">
            <div class="cards-wrapper">

                <div class="card has-text-centered is-12">
                    <div class="card-content">
                        <h3 class="title is-size-12 is-size-8-desktop has-text-grey-darker">
                            Monthly payments
                        </h3>
                        <h3 class="title has-text-weight-light is-size-5 is-size-4-desktop">
                            <p style="padding-bottom: 20px">30 day rolling subscription</p>

                            <ul style="line-height: 2.5rem; text-align: left; padding-left: 20px; list-style-type: square;">
                                <li>Self-service</li>
                                <li>1200 USD / mo / cluster</li>
                            </ul>
                        </h3>

                    </div>

                    <a href="https://subscribe.openfaas.com/checkout/buy/68c4d2ba-5e28-4cd3-89ec-ecf4d0d0967f" target="_top" class="button is-primary is-large">
                        <span class="icon"><i class="fas fa-shopping-cart"></i></span>
                        <span>Checkout</span>
                    </a>
                </div>

                <div class="card has-text-centered">
                    <div class="card-content">
                        <h3 class="title is-size-4 is-size-3-desktop has-text-grey-darker">
                            Annual payment
                        </h3>
                        <h3 class="title has-text-weight-light is-size-5 is-size-4-desktop">
                            <p style="padding-bottom: 20px">12 month contract</p>

                            <ul style="line-height: 2.5rem; text-align: left; padding-left: 20px; list-style-type: square;">
                                <li>Pay by invoice</li>
                                <li>Transfer: US ACH or SWIFT</li>
                                <li>1000 USD / mo / cluster</li>
                            </ul>
                        </h3>
                    </div>

                    * Save 2400 USD per year

                    <a href="https://forms.gle/g6oKLTG29mDTSk5k9" target="_blank" class="button is-primary is-large">
                        <span class="icon"><i class="fas fa-file-alt"></i></span>
                        <span>Request Invoice</span>
                    </a>
                </div>

            </div>
        </div>
    </div>
</div>
