<div class="container">
    <div class="column is-10 mx-auto">
        <div class="columns is-variable is-4">

            <div class="column is-6">
                <div class="card has-text-centered" style="height: 100%;">
                    <div class="card-content is-flex is-flex-direction-column" style="height: 100%;">
                        <h3 class="is-size-4 has-text-grey-dark font-medium">
                            Got questions?
                        </h3>
                        <p class="is-size-5 font-medium has-text-grey-dark mt-4">
                            Meet our technical team, request a demo, and get your questions answered.
                        </p>
                        <div class="mt-auto">
                            <a href="https://forms.gle/g6oKLTG29mDTSk5k9" target="_top" class="button is-light is-medium mt-4">
                                <span class="icon"><i class="fas fa-calendar-alt"></i></span>
                                <span>Book a call</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="column is-6">
                <div class="card has-text-centered" style="height: 100%;">
                    <div class="card-content is-flex is-flex-direction-column" style="height: 100%;">
                        <h3 class="is-size-4 has-text-grey-dark font-medium">
                            Try it first
                        </h3>
                        <p class="is-size-5 font-medium has-text-grey-dark mt-4">
                            Evaluate OpenFaaS on your own cluster with a 14-day trial.
                        </p>
                        <p class="has-text-grey is-size-7 mt-2">
                            Trials are limited and subject to approval. Support is not included.
                        </p>
                        <div class="mt-auto">
                            <a href="https://docs.google.com/forms/d/e/1FAIpQLScQ-wLRjQMq7XSm7CtngEuoAfMzE5Rkmll7lKwScI6AgiUc_Q/viewform" target="_blank" rel="noopener" class="button is-light is-medium mt-4">
                                <span>Request a free trial</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
