<div class="container">
    <div class="card has-text-centered">
        <div class="card-content">
            <h3 class="is-size-4 has-text-grey-dark font-medium">
                Want to talk to us first?
            </h3>
            <p class="is-size-5 font-medium has-text-grey-dark mt-4">
                Meet our technical team, ask any questions you may have, and learn more about functions.
            </p>
            <a href="https://forms.gle/g6oKLTG29mDTSk5k9" target="_top" class="button is-light is-medium mt-4">
                <span class="icon"><i class="fas fa-calendar-alt"></i></span>
                <span>Book a call</span>
            </a>
        </div>
    </div>
</div>

