<div class="container">
    <div class="section">
        <div class="card has-text-centered">
            <div class="card-content">
                <h3 class="title is-size-4 is-size-3-desktop has-text-grey-darker">
                    Want to talk to us first?
                </h3>
                <a href="https://forms.gle/qW5SBa3MMdcSq41M8" target="_top" class="button is-primary is-large">
                    <span class="icon"><i class="fas fa-calendar-alt"></i></span>
                    <span>Book a call</span>
                </a>
            </div>
        </div>
    </div>
</div>

