<div class="container">
  <div class="columns is-multiline">
    <div class="column is-full">
      <div class="column is-8 mx-auto">
      <div class="card" style="height: 100%">
        <div
          class="card-content is-flex is-flex-direction-column"
          style="height: 100%"
        >
          <div>
            <h3 class="is-size-4 font-medium has-text-grey-dark mb-3">
              Monthly payments
            </h3>
            <subtitle class="is-size-5 font-medium has-text-grey-dark mb-6">
                30 day subscription
            </subtitle>
            <div class="has-text-grey-dark is-size-6">
              <ul
                style="
                  line-height: 2.5rem;
                  text-align: left;
                  padding-left: 20px;
                  list-style-type: square;
                "
              >
                <li>1200 USD / mo / cluster</li>
                <li>Company Credit/Debit card</li>
                <li>Self-service, license key via email</li>
              </ul>
            </div>
          </div>
          <div class="mt-auto">
            <a
              href="https://subscribe.openfaas.com/checkout/buy/68c4d2ba-5e28-4cd3-89ec-ecf4d0d0967f"
              target="_top"
              class="button is-primary is-medium mt-4"
            >
              <span class="icon"><i class="fas fa-shopping-cart"></i></span>
              <span>Checkout</span>
            </a>
          </div>
        </div>
      </div>
    </div>
    </div>
    <div class="column is-full">
      <div class="column is-8 mx-auto">
      <div
        class="card"
        style="height: 100%; box-shadow: 0 0 5px rgb(50, 31, 221)"
      >
        <div
          class="card-content is-flex is-flex-direction-column"
          style="height: 100%"
        >
          <div>
            <h3 class="is-size-4 has-text-grey-darker mb-3">
              Annual payment
            </h3>
            <subtitle class="is-size-5 mb-6">
                12 month subscription
            </subtitle>
            <div class="has-text-grey-dark is-size-6">
              <ul
                style="
                  line-height: 2.5rem;
                  text-align: left;
                  padding-left: 20px;
                  list-style-type: square;
                "
              >
                <li>1000 USD / mo / cluster</li>
                <li>Pay by invoice</li>
                <li>Transfer: ACH (USD) or SWIFT (GBP)</li>
                <li>Free 30 minute onboarding call</li>
              </ul>
            </div>
          </div>
          <div class="mt-auto">
            <p class="mt-4">Save 2400 USD per year per cluster</p>
            <a
              href="https://forms.gle/dimFYHjCtxhqStGs7"
              target="_blank"
              class="button is-primary is-medium mt-4"
            >
              <span class="icon"><i class="fas fa-file-alt"></i></span>
              <span>Request Invoice</span>
            </a>
          </div>
        </div>
      </div>
      </div>
    </div>
  </div>
</div>
