---
title: OpenFaaS Plans & Pricing
description: Run OpenFaaS in production with retail licensing, support, scale to zero, multi-tenancy and much more.
image: https://www.openfaas.com/images/pexels-fauxels-3183150.jpg
---

<style>
    input[type=number]::-webkit-inner-spin-button {
    opacity: 1
}

.underline-on-hover {
    text-decoration: none;
    color: inherit;
}

.underline-on-hover:hover {
    text-decoration: underline;
    color: inherit;
}
</style>

<section class="hero">
    <div class="hero-body has-text-centered intro">
        {% include pricing-page/pricing-title.html %}
    </div>

    <div class="hero-body white call-to-action is-spaced-bottom">
        {% include pricing-page/pricing-cards.html %}
    </div>

    <div class="hero-body white call-to-action is-spaced-bottom">
        {% include pricing-page/pricing-edge.html %}
    </div>

    <div class="hero-body white call-to-action is-spaced-bottom">
        {% include /pricing-page/pricing-table.html %}
    </div>

    <div class="hero grey-darker-bis is-spaced-bottom">
        {% include pricing-page/pricing-long-term-view.html %}
    </div>

</section>
