---
title: Support and Subscriptions from OpenFaaS Ltd
description: Learn about our Support and Subscriptions for OpenFaaS
image: https://www.openfaas.com/images/pexels-fauxels-3183150.jpg
---

<section class="hero pricing">

    <div class="hero-body has-text-centered intro">
        {% include pricing-page/pricing-title.html %}
    </div>

    <div class="hero-body white call-to-action is-spaced-bottom">
        {% include pricing-page/pricing-cards.html %}
    </div>

    <div class="hero grey-darker-bis is-spaced-bottom">
        {% include pricing-page/pricing-poc.html %}
    </div>

</section>