@import "contributors.scss";

.hero {
	.hero-body {
		&.intro {
			background: white;

			padding-top: $padding-step * 2;
			padding-bottom: $padding-step * 2;
		}

		&.team-wrapper {
			padding-top: $padding-step * 2;
			padding-bottom: $padding-step * 2;

			.column > .title {
				padding-bottom: $padding-step * 2;
			}
		}
	}
}

.card.team.member {
	display: -webkit-flex;
	display: -ms-flex;
	display: flex;

	background: white;
	box-shadow: none;

	padding: $padding-step;

	.avatar {
		display: -webkit-flex;
		display: -ms-flex;
		display: flex;

		min-width: 120px;
		flex-basis: 120px;

		flex-direction: column;

		img {
			width: 100%;

			border-radius: 5px;
		}

		.social {
			display: -webkit-flex;
			display: -ms-flex;
			display: flex;

			justify-content: space-between;

			background: transparent;

			color: $grey-darker;

			padding: 0 5px;

            margin: 10px 0;

			a {
				font-size: 20px;

				&:hover {
					color: #ffa74c;
				}
			}
		}
	}

	.about {
		flex-grow: 1;

		padding: $padding-step;
		border-radius: 5px;

		background: white;

		.name {
			font-size: 30px;
			font-weight: bold;
		}

		.blurb {
			font-size: 18px;
			a {
				color: $primary;
			}
		}
	}
}

@media (max-width: $tablet) {
    .card.team.member {
        flex-direction: column;

        .avatar {
            flex-basis: auto;
            align-items: center;

            padding-top: $padding-step;

            img {
                width: 120px;
                height: 120px;

                border-radius: 50%;

                padding: 0;

                box-shadow: none;

                transform: translate(0, 0);

            }

            .social {
                width: 100%;

                margin: 0;

                padding: $padding-step 0 0 0;

                justify-content: space-around;
            }
        }
    }
}
