.footer {
	background-color: $of-text-dark;

	color: $of-text-grey;

	padding: 3rem 1rem;

    p {
        font-weight: 300;
        font-size: 18px;
    }

    a {
        color: white;
        text-decoration: underline;
    }

	&-wrapper {
		display: -webkit-flex;
		display: -ms-flex;
		display: flex;

		align-items: center;

		&-left {
			flex-grow: 1;
			margin-left: -0.75rem;
		}

		&-right {
			padding-left: $padding-step;
			margin-right: -0.75rem;

            a {
                display: -webkit-flex;
                display: -ms-flex;
                display: flex;

                flex-direction: column;

                text-decoration: none;
            }
		}
	}

}

@media (max-width: $desktop) {
	.footer {
		&-wrapper {

			flex-direction: column;

			&-left {
				margin-bottom: $padding-step;
				margin-left: 0;

				text-align: center;
			}

			&-right {
                display: -webkit-flex;
                display: -ms-flex;
                display: flex;

				flex-direction: row;
				justify-content: center;
				align-items: center;

				width: 100%;

				margin-right: 0;

                text-align: center;
			}
		}
	}
}
