.yt {
    &-player {
        &-container {
            display: -webkit-flex;
            display: -ms-flex;
            display: flex;

            align-items: center;
            justify-content: center;

        }

        &-iframe-wrapper {
            position: relative;

            max-width: 642px;
            max-height: 360px;

            width: 50vw;
            height: calc(50vw / 1.78); // keep ratio

            margin-top: 40px;
            margin-top: 40px;

            background: #3ab7ea;

            border-radius: 10px;

            overflow: hidden;

            &.ready {
                #yt-player-play {
                    opacity: 1;

                    pointer-events: all;
                }
            }

            iframe {
                position: relative;

                width: 100%;
                height: 100%;

                opacity: 0;

                transition: opacity .3s;

                z-index: 0;

                &.playing {
                    opacity: 1;

                    z-index: 2;
                }
            }
        }
    }
}

// Modal youtube player
.modal {
    &.modal-youtube {
        animation-name: fadeIn;
        animation-duration: .3s;
        animation-fill-mode: forwards;

        .modal-background {
            background: rgba(10, 10, 10, 0.7);
        }

        .modal-content {
            display: -webkit-flex;
            display: -ms-flex;
            display: flex;

            justify-content: center;
            align-items: center;

            width: auto;
        }
    }
}


#modal-player {
    width: 50vw;
    height: calc(50vw / 1.78); // keep ratio
}

#sample-video {
    position: absolute;

    border-radius: 10px;

    opacity: .3;

    z-index: 3;
}


#yt-player-play {
    position: absolute;

    left: 50%;
    top: 50%;

    width: 168px;
    height: 94px;

    transform: translate(-50%, -50%);

    background: url('../images/openfaas/watch-intro.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

    cursor: pointer;

    opacity: 0;

    pointer-events: none;

    transition: opacity .3s;

    z-index: 4;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@media (max-width: $tablet) {
    .yt-player-iframe-wrapper,
    #modal-player {
        width: 80vw;
        height: calc(80vw / 1.78); // keep ratio
    }
}
