---
title: Blog
description: Keep up with the latest OpenFaaS news.
image: /images/preview_image.png
---

<section class="hero is-primary is-small">
    <div class="hero-body has-text-centered intro">
        <h1 class="title is-size-3 is-size-2-desktop has-text-grey-darker">
            The latest news
        </h1>
        <p class="title is-size-5 is-size-4-desktop has-text-grey-darker has-text-weight-light">
            The latest news, tutorials, case-studies and announcements.
        </p>
    </div>

    <div class="hero-body grey">
		<div class="container">
			<ul class="blog-posts">
				{% include blog-page/list-posts.html posts=paginator.posts %}
			</ul>

            {% if paginator.total_pages > 1 %}
                <nav id="paginator" class="pagination" role="navigation" aria-label="pagination">
                    {% if paginator.previous_page %}
                        <a href="{{ site.baseurl }}{{ paginator.previous_page_path }}" class="pagination-previous">Newer posts</a>
                    {% endif %}
                    {% if paginator.next_page %}
                        <a href="{{ site.baseurl }}{{ paginator.next_page_path }}" class="pagination-next">Older posts</a>
                    {% endif %}
                    <ul class="pagination-list">
                        <li>
                            <a class="pagination-link is-current" disabled>
                                {{ paginator.page }}
                            </a>
                        </li>
                        <li>
                            <span class="pagination-ellipsis">of</span>
                        </li>
                        <li>
                            <a class="pagination-link" disabled>
                                {{ paginator.total_pages }}
                            </a>
                        </li>
                    </ul>
                </nav>
			{% endif %}
		</div>
    </div>
</section>
