<div class="container">
    <div class="columns is-multiline">
        <div class="column is-12 is-spaced-bottom">
            <h1 class="title is-size-2 has-text-grey-darker">
                <a href="#">#TeamServerless </a> — Our community and contributors of 160+
            </h1>
        </div>

        <div class="column is-12">
            <div class="columns is-multiline">
                {% for member in site.data.github_stats.byLogin %}
                    <div class="column">
                        <figure style="width: 100px; height: 100px" class="image">
                            <img data-counter="{{member[1]}}" src="https://github.com/{{member[0]}}.png?size=100" alt="{{member[0]}}">
                        </figure>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
