<div class="container">
    <h2 class="title is-size-3-tablet is-size-2-desktop has-text-grey-darker">
        Solutions
    </h2>
    <div class="columns is-multiline">

        <div class="column is-12-tablet is-6-desktop is-spaced-bottom">
            <h2 class="title is-size-4 has-text-grey-darker">
                A sandbox for your customer's code
            </h2>
            <p class="has-text-weight-light is-size-5 is-size-4-desktop has-text-grey mt-2">
                With OpenFaaS Enterprise, you can take code snippets from your customers and use them to extend your platform.
            </p>

            <p class="has-text-weight-light is-size-5 is-size-4-desktop has-text-grey mt-2">
                Our Function Builder API turns source code into images and can be integrated into existing solutions.
            <p class="has-text-weight-light is-size-5 is-size-4-desktop has-text-grey mt-2">
                    Network policies, resource limits, a runtime class, read-only filesystem and dedicated namespace means their code will be as isolated as possible.
            </p>
        </div>

        <div class="column is-12-tablet is-6-desktop is-spaced-bottom">
            <h2 class="title is-size-4 has-text-grey-darker">
                ETL and data-pipelines
            </h2>
            <p class="has-text-weight-light is-size-5 is-size-4-desktop has-text-grey mt-2">
                OpenFaaS Pro autoscaling can be fine-tuned to match the execution pattern of your functions.
            </p>
            <p class="has-text-weight-light is-size-5 is-size-4-desktop has-text-grey mt-2">
                JetStream for OpenFaaS enables pipelines that can fan out and back in again to consolidate sets of results.
            </p>
            <p class="has-text-weight-light is-size-5 is-size-4-desktop has-text-grey mt-2">
                ML models can be deployed as functions, and scaled, even if they run for a long time.
            </p>
        </div>

        <div class="column is-12-tablet is-6-desktop is-spaced-bottom">
            <h2 class="title is-size-4 has-text-grey-darker">
                One function, many clouds
            </h2>
            <p class="has-text-weight-light is-size-5 is-size-4-desktop has-text-grey mt-2">
                Does your product need to run on multiple different clouds? Perhaps you're considering writing an abstraction layer to cover your bases?
            <p class="has-text-weight-light is-size-5 is-size-4-desktop has-text-grey mt-2">
                When faced with this question, <a href="https://www.openfaas.com/blog/low-code-automation/" class="text-decoration: underline;">Waylay.io</a> built their low-code platform with OpenFaaS.
            </p>
            <p class="has-text-weight-light is-size-5 is-size-4-desktop has-text-grey mt-2">
                OpenFaaS functions are built as OCI images, which means they're portable, and integrate well with teams who use containers or Kubernetes already.
            </p>
        </div>

        <div class="column is-12-tablet is-6-desktop is-spaced-bottom">
            <h2 class="title is-size-4 has-text-grey-darker">
                Kubernetes, made usable
            </h2>
            <p class="has-text-weight-light is-size-5 is-size-4-desktop has-text-grey mt-2">
                Does your team just want to ship features, with boilerplate code, scaling and event triggers taken care of?
            <p class="has-text-weight-light is-size-5 is-size-4-desktop has-text-grey mt-2">
                Customers tell us that they can ship new functionality to production within minutes and hours, not days and weeks.
            </p>
            <p class="has-text-weight-light is-size-5 is-size-4-desktop has-text-grey mt-2">
                Functions can be run on-demand, or on a schedule, and can be triggered by events from your existing systems like Apache Kafka or AWS. If you invoke them asynchronously, you'll also get to benefit from retries without writing any additional code.
            </p>
        </div>

    </div>

</div>
