<div class="container">
    <div class="columns is-multiline">
        <div class="column is-12 is-spaced-bottom">
            <div class="columns">
                <div class="column is-8 is-offset-2 has-text-centered">
                    <h2 class="title is-size-3 is-size-2-desktop has-text-grey-darker">
                        We speak your language
                    </h2>
                </div>
            </div>
        </div>
        <div class="column is-12 has-text-centered  is-spaced-bottom">
            <div class="columns">
                <div class="column is-8 is-offset-2 has-text-centered">
                    <p class="title has-text-weight-light is-size-5 is-size-4-desktop has-text-grey">
                        Functions can be written in any language, and are built into portable OCI images.
                    </p>
                    <p class="title has-text-weight-light is-size-5 is-size-4-desktop has-text-grey">
                        We have official templates available for: Go, Java, Python, C#, Ruby, Node.js, PHP, or you can write your own.
                    </p>
                    <p class="title has-text-weight-light is-size-5 is-size-4-desktop has-text-grey">
                        You can even bring along your existing microservices written with custom frameworks like Express.js, Vert.x, Flask, ASP.NET Core, FastAPI and Django.
                    </p>
                    <p class="title has-text-weight-light is-size-5 is-size-4-desktop has-text-grey">
                        Find templates in <a class="underline" href="https://docs.openfaas.com/cli/templates/">the store</a> or build your own.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

{% include landing-page/landing-demo-code-samples.html %}
