<div class="container">
    <div class="columns is-multiline">
        <div class="column is-12 is-spaces-top-x2">
            <div class="has-text-centered">
                <div class="card-content">
                    <h1 class="title is-size-4 is-size-3-desktop has-text-grey-darker">
                       Understand the value of Serverless
                    </h1>
                    <h1 class="title has-text-weight-light is-size-4 is-size-4-desktop has-text-grey">
                        In <i>Serverless For Everyone Else</i>, you'll gain a working knowledge of the value and use-cases of serverless functions. You'll then build your own with Node.js and learn how to secure and monitor them.
                    </h1>
                </div>
                <a href="https://gumroad.com/l/serverless-for-everyone-else" target="_top" class="button is-primary is-large">
                    <span class="icon"><i class="fas fa-store"></i></span>
                    <span>GET THE EBOOK</span>
                </a>
            </div>
        </div>
    </div>
</div>

