<div class="container">
    <div class="columns is-multiline">
        <div class="column is-12 is-spaced-bottom">
            <h1 class="title is-size-2 has-text-grey-darker">
                End-users & case-studies
            </h1>
        </div>

        {% for user in site.data.users %}
        <div class="column is-narrow-mobile is-2-desktop">
            <a href="{{ user.link }}"  title="{{ user.title }}" target="_blank">
                <figure class="image is-128x128">
                    <img src="images/users-logos/{{ user.icon }}" alt="{{ user.title }}">
                </figure>
            </a>
        </div>
        {% endfor %}
    </div>
</div>
