<div class="container">
    <div class="columns is-multiline">
        <div class="column is-12 is-spaces-top-x2">
            <div class="has-text-centered">
                <div class="card-content">
                    <h1 class="title is-size-4 is-size-3-desktop has-text-grey-darker">
                        Upgrade to OpenFaaS PRO
                    </h1>
                    <h1 class="title has-text-weight-light is-size-4 is-size-4-desktop has-text-grey">
                        The core of OpenFaaS is open source and free to use.
                    </h1>
                    <h1 class="title has-text-weight-light is-size-4 is-size-4-desktop has-text-grey">
                        If you use OpenFaaS for business, upgrade to PRO for support and enterprise features like: Single-sign-on with an IDp, scale to zero and Kafka integration.
                    </h1>
                </div>
                <a href="/support/" target="_top" class="button is-primary is-large">
                    <span class="icon"><i class="far fa-file-alt"></i></span>
                    <span>LEARN MORE</span>
                </a>
            </div>
        </div>
    </div>
</div>

