<div class="container">
    <h2 class="title is-size-3-tablet is-size-2-desktop has-text-grey-darker">
        Solutions
    </h2>
    <div class="columns is-multiline">

        <div class="column is-12-tablet is-6-desktop is-spaced-bottom">
            <h2 class="title is-size-4 has-text-grey-darker">
                A sandbox for your customer's code
            </h2>
            <p class="has-text-weight-light is-size-5 is-size-4-desktop has-text-grey mt-2">
                With OpenFaaS Enterprise, you can take code snippets from your customers and use them to extend your platform.
            </p>
            <p class="has-text-weight-light is-size-5 is-size-4-desktop has-text-grey mt-2">
                You can use the Function Builder API to turn source code into functions, which can be deployed via the OpenFaaS REST API.
            <p class="has-text-weight-light is-size-5 is-size-4-desktop has-text-grey mt-2">
                Network policies, resource limits, a runtime class, read-only filesystem and dedicated namespace means their code will be as isolated as possible.
            </p>
            <p class="has-text-weight-light is-size-5 is-size-4-desktop has-text-grey mt-2">
                Who's doing this already? Waylay (for custom functions for industrial IoT), Patchworks (customer extensions for e-commerce), LivePerson (for customer extensions) and Cognite (for custom ML/data-science functions).
            </p>
        </div>

        <div class="column is-12-tablet is-6-desktop is-spaced-bottom">
            <h2 class="title is-size-4 has-text-grey-darker">
                ETL and data-pipelines
            </h2>
            <p class="has-text-weight-light is-size-5 is-size-4-desktop has-text-grey mt-2">
                OpenFaaS Pro autoscaling can be fine-tuned to match the execution pattern of your functions, and to retry failed invocations.
            </p>
            <p class="has-text-weight-light is-size-5 is-size-4-desktop has-text-grey mt-2">
                Through JetStream for OpenFaaS, you can fan out to many thousands of executions, executing in parallel and scaling automatically.
            </p>
            <p class="has-text-weight-light is-size-5 is-size-4-desktop has-text-grey mt-2">
                ML models can be deployed as functions, and scaled, even if they run for a long time.
            </p>
            <p class="has-text-weight-light is-size-5 is-size-4-desktop has-text-grey mt-2">
                See also: <a href="https://www.openfaas.com/blog/fan-out-and-back-in-using-functions/" style="text-decoration: underline;">Exploring the Fan out and Fan in pattern with OpenFaaS</a>
            </p>
        </div>

        <div class="column is-12-tablet is-6-desktop is-spaced-bottom">
            <h2 class="title is-size-4 has-text-grey-darker">
                Kubernetes, made usable
            </h2>
            <p class="has-text-weight-light is-size-5 is-size-4-desktop has-text-grey mt-2">
                OpenFaaS enriches Kubernetes with scaling, queueing, monitoring and event triggers, so your team can focus on shipping features.
            <p class="has-text-weight-light is-size-5 is-size-4-desktop has-text-grey mt-2">
                Customers have told us that even from early on, they were shipping new functionality to production within hours.
            </p>
            <p class="has-text-weight-light is-size-5 is-size-4-desktop has-text-grey mt-2">
                Functions can be run on-demand, or on a schedule, and can be triggered by events from your existing systems like Apache Kafka or AWS. If you invoke them asynchronously, you'll also get to benefit from retries without writing any additional code.
            </p>
            <p class="has-text-weight-light is-size-5 is-size-4-desktop has-text-grey mt-2">
                Deel migrated from AWS Lambda to Kubernetes, only to find that their code would no longer scale how they needed. They reached out to us, and we wrote up a reference architecture. 
            </p>
            </p>
            <p class="has-text-weight-light is-size-5 is-size-4-desktop has-text-grey mt-2">
                Learn more: <a href="https://www.openfaas.com/blog/pdf-generation-at-scale-on-kubernetes/" style="text-decoration: underline;">Generate PDFs at scale on Kubernetes using OpenFaaS and Puppeteer</a>
            </p>
        </div>

        <div class="column is-12-tablet is-6-desktop is-spaced-bottom">
            <h2 class="title is-size-4 has-text-grey-darker">
                One function, many clouds
            </h2>
            <p class="has-text-weight-light is-size-5 is-size-4-desktop has-text-grey mt-2">
                Does your product need to run on multiple different clouds? Perhaps you're considering writing an abstraction layer to cover your bases?
            <p class="has-text-weight-light is-size-5 is-size-4-desktop has-text-grey mt-2">
                When faced with this question, <a href="https://www.openfaas.com/blog/low-code-automation/" style="text-decoration: underline;">Waylay.io</a> built their low-code platform with OpenFaaS.
            </p>
            <p class="has-text-weight-light is-size-5 is-size-4-desktop has-text-grey mt-2">
                OpenFaaS functions are built as OCI images, which means they're portable, and integrate well with teams who use containers or Kubernetes already.
            </p>

            <p class="has-text-weight-light is-size-5 is-size-4-desktop has-text-grey mt-2">
                See also: <a href="https://www.openfaas.com/blog/low-code-automation/" style="text-decoration: underline;">Low-code automation with OpenFaaS</a>
        </div>

    </div>

</div>
