<div class="container">
    <div class="columns is-multiline">
        <div class="column is-12-tablet is-6-desktop is-spaced-bottom">
            <h2 class="title is-size-3-tablet is-size-2-desktop has-text-grey-darker">
                Run your code anywhere with the same unified experience.
            </h2>
            <p class="has-text-weight-light is-size-5 is-size-4-desktop has-text-grey mt-2">
                You can deploy OpenFaaS anywhere you have Kubernetes
            </p>
            <p class="has-text-weight-light is-size-5 is-size-4-desktop has-text-grey mt-2">
                Our templates follow best practices meaning you can write and deploy a new function to production within a few minutes, knowing it will scale to meet demand.
            </p>
            <p class="has-text-weight-light is-size-5 is-size-4-desktop has-text-grey mt-2">
                OpenFaaS Pro then builds on our Open Source codebase to bring flexible auto-scaling, event-connectors, monitoring, a new dashboard, GitOps and various levels of support.
            </p>
        </div>
        <div class="column is-12-tablet is-5-desktop is-offset-1-desktop">
            <div class="columns is-multiline">
                <div class="column is-12 is-spaced-bottom">
                    <div class="columns">
                        <div class="column is-3-tablet has-text-centered-mobile">
                            <p><img src="{{ site.baseurl }}/images/openfaas/template.svg" alt="Reduce Boilerplating"></p>
                        </div>
                        <div class="column">
                            <h2 class="title is-size-4 has-text-grey-darker">
                                Templates that just work
                            </h2>
                            <p class="title has-text-weight-light is-size-5-tablet is-size-4 has-text-grey">
                                Get code into production within minutes using our templates, or create your own.
                            </p>
                        </div>
                    </div>
                </div>

                <div class="column is-12 is-spaced-bottom">
                    <div class="columns">
                        <div class="column is-centered-mobile is-centered-tablet is-6-mobile is-3-tablet has-text-centered-mobile has-text-grey-darker">
                            <p><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M16.5 8.25V6a2.25 2.25 0 00-2.25-2.25H6A2.25 2.25 0 003.75 6v8.25A2.25 2.25 0 006 16.5h2.25m8.25-8.25H18a2.25 2.25 0 012.25 2.25V18A2.25 2.25 0 0118 20.25h-7.5A2.25 2.25 0 018.25 18v-1.5m8.25-8.25h-6a2.25 2.25 0 00-2.25 2.25v6" />
                              </svg>
                              </p>
                        </div>
                        <div class="column">
                            <h2 class="title is-size-4 has-text-grey-darker">
                                Efficient scaling
                            </h2>
                            <p class="title has-text-weight-light is-size-5-tablet is-size-4 has-text-grey">
                                Your functions can be fine-tuned to scale to match the type of traffic they receive, including to zero to save on costs.
                            </p>
                        </div>
                    </div>
                </div>

                <div class="column is-12 is-spaced-bottom">
                    <div class="columns">
                        <div class="column is-6-mobile is-3-tablet is-centered-mobile is-centered-tablet has-text-centered-mobile has-text-grey-darker">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M7.5 21L3 16.5m0 0L7.5 12M3 16.5h13.5m0-13.5L21 7.5m0 0L16.5 12M21 7.5H7.5" />
                              </svg>
                        </div>
                        <div class="column">
                            <h2 class="title is-size-4 has-text-grey-darker">
                                Event-driven workloads
                            </h2>
                            <p class="title has-text-weight-light is-size-5-tablet is-size-4 has-text-grey">
                                Invoke functions through events from Apache Kafka, AWS SQS, Postgresql, Cron and MQTT. 
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="column is-3 solutions">
                <a href="{{ site.baseurl }}/pricing" class="button is-primary solutions-button">
                    Learn about OpenFaaS Pro
                </a>
        </div>

    </div>

</div>
