<div class="container">
    <div class="columns is-multiline">
        <div class="column is-12 is-spaces-top-x2">
            <div class="has-text-centered">
                <div class="card-content">
                    <h1 class="title is-size-4 is-size-3-desktop has-text-grey-darker">
                        Get Alex's new book: Serverless For Everyone Else
                    </h1>
                    <h1 class="title has-text-weight-light is-size-4 is-size-4-desktop has-text-grey">
                        Alex's new eBook is the official handbook for faasd - the minimalist's approach to serverless functions. You'll learn how to setup your own server and start writing functions in Node.js.
                    </h1>
                </div>
                <a href="https://gumroad.com/l/serverless-for-everyone-else" target="_top" class="button is-primary is-large">
                    <span class="icon"><i class="fas fa-store"></i></span>
                    <span>GET THE EBOOK</span>
                </a>
            </div>
        </div>
    </div>
</div>

