<div class="container">
    <div class="columns is-multiline">
        <div class="column is-12 is-spaced-bottom">
            <div class="cards-wrapper">
                <div class="card has-text-centered">
                    <div class="card-content">
                        <div class="card-logo">
                            <figure class="image">
                                <img src="{{ site.baseurl }}/images/openfaas/logo-whale-round.png" alt="logo">
                            </figure>
                        </div>
                        <h1 class="title is-size-4 is-size-3-desktop has-text-grey-darker">
                            Start your Serverless journey
                        </h1>
                        <h1 class="title has-text-weight-light is-size-5 is-size-4-desktop has-text-grey">
                            OpenFaaS is the easiest way to create portable functions, microservices, and APIs.
                        </h1>
                    </div>

                    <a href="https://docs.openfaas.com/deployment/" target="_blank" class="button is-primary is-large">
                        <span class="icon"><i class="fas fa-cloud"></i></span>
                        <span>DEPLOY OPENFAAS NOW</span>
                    </a>
                </div>

                <div class="card has-text-centered">
                    <div class="card-content">
                        <div class="card-logo">
                            <figure class="image">
                                <img src="{{ site.baseurl }}/images/openfaas/whale.png" alt="logo">
                            </figure>
                        </div>
                        <h1 class="title is-size-4 is-size-3-desktop has-text-grey-darker">
                            Upgrade to a Premium Subscription
                        </h1>
                        <h1 class="title has-text-weight-light is-size-5 is-size-4-desktop has-text-grey">
                            Enable enterprise-grade authentication, get an architecture review, and prioritized responses on GitHub.
                        </h1>

                    </div>
                    <a href="/support/" target="_blank" class="button is-primary is-large">
                        <span class="icon"><i class="fas fa-file-alt"></i></span>
                        <span>BUY NOW</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

