<div class="container">
    <div class="columns is-multiline">
        <div class="column is-12 is-spaced-bottom">
            <div class="cards-wrapper">

                <div class="card has-text-centered">
                    <div class="card-content">
                        <div class="card-logo">
                            <figure class="image">
                                <img src="{{ site.baseurl }}/images/openfaas/whale.png" alt="logo">
                            </figure>
                        </div>
                        <h3 class="title is-size-4 is-size-3-desktop has-text-grey-darker">
                            Start your Serverless Journey
                        </h3>
                        <h3 class="title has-text-weight-light is-size-5 is-size-4-desktop has-text-grey">
                            Understand the use-cases for functions and learn at your own pace with the OpenFaaS handbook: <i>Serverless For Everyone Else</i>.
                        </h3>

                    </div>
                    <a href="https://gumroad.com/l/serverless-for-everyone-else" target="_blank" class="button is-primary is-large">
                        <span class="icon"><i class="fas fa-book-reader"></i></span>
                        <span>GET THE EBOOK</span>
                    </a>
                </div>

                <div class="card has-text-centered">
                    <div class="card-content">
                        <div class="card-logo">
                            <figure class="image">
                                <span style="font-size: 60pt" class="icon"><i class="fas fa-server"></i></span>
                            </figure>
                        </div>
                        <h3 class="title is-size-4 is-size-3-desktop has-text-grey-darker">
                            Run OpenFaaS in Production
                        </h3>
                        <p class="title has-text-weight-light is-size-5 is-size-4-desktop has-text-grey">
                            OpenFaaS Pro is a commercially licensed version of OpenFaaS meant for production use.
                        </p>
                        <p class="title has-text-weight-light is-size-5 is-size-4-desktop has-text-grey">
                            You'll gain access to new features to make your team more efficient and productive.
                        </p>
                    </div>

                    <a href="https://openfaas.com/pricing" class="button is-primary is-large">
                        <span class="icon"><i class="fas fa-server"></i></span>
                        <span>VIEW PRICING</span>
                    </a>
                </div>

            </div>
        </div>
    </div>
</div>

