<div class="container">
    <div class="columns is-multiline">
        <div class="column is-12 is-spaced-top-x2">
            <div class="columns is-multiline">
                <div class="column is-6 is-3-desktop">
                    <a class="cta-button button" href="https://docs.openfaas.com/">
                        <img src="{{ site.baseurl }}/images/openfaas/landing-page-book.png" alt="book">
                        <span>Read the documentation</span>
                    </a>
                </div>

                <div class="column is-6 is-3-desktop">
                    <a class="cta-button button" href="https://twitter.com/openfaas">
                        <img src="{{ site.baseurl }}/images/openfaas/landing-page-twitter.png" alt="twitter">
                        <span>Follow @OpenFaaS on Twitter</span>
                    </a>
                </div>

                <div class="column is-6 is-3-desktop">
                    <a class="cta-button button" href="https://github.com/openfaas/">
                        <img src="{{ site.baseurl }}/images/openfaas/landing-page-github.png" alt="github">
                        <span>Contribute on GitHub</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
