<div class="container">
    <div class="columns is-multiline">
        <div class="column is-12 is-spaced-bottom has-text-centered has-text-right-desktop">
            <h1 class="title is-size-3 is-size-2-desktop has-text-grey-darker">
                <a class="contributors-link" href="https://github.com/openfaas" target="_blank">#TeamServerless </a>
                - Our community and contributors of 160+
            </h1>
        </div>

        <div id="github-users" class="user-rows">
            <!-- Content automatically injected -->
            <!-- {% for column in site.data.github_stats.contributorsColumns %}
                <div class="user-row">
                    {% if forloop.index == 1 %}
                        <figure class="image placeholder"><img src="images/openfaas/transparent-placeholder.png" alt=""></figure>
                        <figure class="image placeholder"><img src="images/openfaas/transparent-placeholder.png" alt=""></figure>
                    {% endif %}
                    {% if forloop.index == 2 %}
                        <figure class="image placeholder"><img src="images/openfaas/transparent-placeholder.png" alt=""></figure>
                    {% endif %}
                    {% for member in column%}
                        <a href="https://github.com/{{member[0]}}" target="_blank">
                            <figure class="image">
                                <img data-counter="{{member[1]}}" src="https://github.com/{{member[0]}}.png?size=100" alt="{{member[0]}}">
                            </figure>
                        </a>
                    {% endfor %}
                </div>
            {% endfor %} -->
        </div>
    </div>
</div>
