<div class="container">
    <div class="columns is-multiline">
        <div class="column is-12-tablet is-6-desktop is-spaced-bottom">
            <h2 class="title is-size-3-tablet is-size-2-desktop has-text-grey-darker">
                Run your code anywhere with the same unified experience.
            </h2>
            <p class="has-text-weight-light is-size-5 is-size-4-desktop has-text-grey-dark mt-2">
                Deploy OpenFaaS to any Kubernetes cluster. Write a new function and ship it to production in minutes, knowing it will scale to meet demand.
            </p>
            <p class="has-text-weight-light is-size-5 is-size-4-desktop has-text-grey-dark mt-2">
                OpenFaaS Pro adds autoscaling, event connectors, monitoring dashboards, SSO, RBAC, and direct-to-engineering support.
            </p>
            <div class="mt-5">
                <a href="{{ site.baseurl }}/pricing" class="button is-primary solutions-button">
                    Learn about OpenFaaS Pro
                </a>
            </div>
        </div>
        <div class="column is-12-tablet is-5-desktop is-offset-1-desktop">
            <div class="columns is-multiline">
                <div class="column is-12 is-spaced-bottom">
                    <h2 class="title is-size-4 has-text-grey-darker" style="display: flex; align-items: center; gap: 0.5rem;">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" style="width: 28px; height: 28px; min-width: 28px; color: #3B5EE9;">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M19.5 14.25v-2.625a3.375 3.375 0 00-3.375-3.375h-1.5A1.125 1.125 0 0113.5 7.125v-1.5a3.375 3.375 0 00-3.375-3.375H8.25m0 12.75h7.5m-7.5 3H12M10.5 2.25H5.625c-.621 0-1.125.504-1.125 1.125v17.25c0 .621.504 1.125 1.125 1.125h12.75c.621 0 1.125-.504 1.125-1.125V11.25a9 9 0 00-9-9z" />
                        </svg>
                        Templates that just work
                    </h2>
                    <p class="has-text-weight-light is-size-5-tablet is-size-4 has-text-grey-dark">
                        Get code into production within minutes using our templates, or create your own.
                    </p>
                </div>

                <div class="column is-12 is-spaced-bottom">
                    <h2 class="title is-size-4 has-text-grey-darker" style="display: flex; align-items: center; gap: 0.5rem;">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" style="width: 28px; height: 28px; min-width: 28px; color: #3B5EE9;">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 3.75v4.5m0-4.5h4.5m-4.5 0L9 9M3.75 20.25v-4.5m0 4.5h4.5m-4.5 0L9 15M20.25 3.75h-4.5m4.5 0v4.5m0-4.5L15 9m5.25 11.25h-4.5m4.5 0v-4.5m0 4.5L15 15" />
                        </svg>
                        Efficient scaling
                    </h2>
                    <p class="has-text-weight-light is-size-5-tablet is-size-4 has-text-grey-dark">
                        Your functions can be fine-tuned to scale to match the type of traffic they receive, including to zero to save on costs.
                    </p>
                </div>

                <div class="column is-12 is-spaced-bottom">
                    <h2 class="title is-size-4 has-text-grey-darker" style="display: flex; align-items: center; gap: 0.5rem;">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" style="width: 28px; height: 28px; min-width: 28px; color: #3B5EE9;">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M7.5 21L3 16.5m0 0L7.5 12M3 16.5h13.5m0-13.5L21 7.5m0 0L16.5 12M21 7.5H7.5" />
                        </svg>
                        Event-driven workloads
                    </h2>
                    <p class="has-text-weight-light is-size-5-tablet is-size-4 has-text-grey-dark">
                        Invoke functions through events from Apache Kafka, AWS SQS/SNS, GCP Pub/Sub, RabbitMQ, Postgresql, Cron and MQTT.
                    </p>
            </div>
        </div>

    </div>

</div>
