<div class="container code-samples">
    <div class="columns">
        <div class="column is-8 is-offset-2">
            <div class="is-fullwidth">
                <!-- Tab links -->
                <div class="tab">
                    <button class="tablinks" onclick="openCode(event, 'Javascript')" id="defaultOpen">Node.js</button>
                    <button class="tablinks" onclick="openCode(event, 'Python')">Python</button>
                    <button class="tablinks" onclick="openCode(event, 'Go')">Go</button>
                    <button class="tablinks" onclick="openCode(event, 'Dockerfile')">Dockerfile</button>
                    <button class="tablinks" onclick="openCode(event, 'Bash')">Bash</button>
                    <button class="tablinks" onclick="openCode(event, 'Java')">Java</button>
                </div>
            </div>

            {% include landing-page/code-examples/java.html %}
            {% include landing-page/code-examples/go.html %}
            {% include landing-page/code-examples/python.html %}
            {% include landing-page/code-examples/javascript.html %}
            {% include landing-page/code-examples/bash.html %}
            {% include landing-page/code-examples/dockerfile.html %}
        </div>
    </div>
</div>

<script>
    function openCode(evt, cityName) {
        // Declare all variables
        var i, tabcontent, tablinks;

        // Get all elements with class="tabcontent" and hide them
        tabcontent = document.getElementsByClassName("tabcontent");
        for (i = 0; i < tabcontent.length; i++) {
            tabcontent[i].style.display = "none";
        }

        // Get all elements with class="tablinks" and remove the class "active"
        tablinks = document.getElementsByClassName("tablinks");
        for (i = 0; i < tablinks.length; i++) {
            tablinks[i].className = tablinks[i].className.replace(" active", "");
        }

        // Show the current tab, and add an "active" class to the button that opened the tab
        document.getElementById(cityName).style.display = "block";
        evt.currentTarget.className += " active";
    }

</script>
<script>
    // Get the element with id="defaultOpen" and click on it
    document.getElementById("defaultOpen").click();
</script>
