<div class="container">
    <div class="columns is-multiline">
        <div class="column is-12 is-spaced-top-x2">
            <div class="columns is-multiline">
                <div class="column is-6 is-3-desktop">
                    <a class="cta-button button" href="https://docs.openfaas.com/">
                        <img src="{{ site.baseurl }}/images/openfaas/landing-page-book.png" alt="Docs" style="width: 40px; height: auto;">
                        <span>Read the documentation</span>
                    </a>
                </div>

                <div class="column is-6 is-3-desktop">
                    <a class="cta-button button" href="https://x.com/openfaas">
                        <img src="{{ site.baseurl }}/images/openfaas/logo-x.png" alt="X" style="width: 40px; height: auto;">
                        <span>Follow us on X</span>
                    </a>
                </div>

                <div class="column is-6 is-3-desktop">
                    <a class="cta-button button" href="https://github.com/openfaas/">
                        <img src="{{ site.baseurl }}/images/openfaas/landing-page-github.png" style="width: 40px; height: auto;" alt="github">
                        <span>View on GitHub</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
