<div class="container">
    <div class="columns is-multiline">
        <div class="column is-12 is-spaced-top-x2">
            <div class="columns is-multiline">
                <div class="column is-6 is-3-desktop">
                    <a class="cta-button button" href="https://docs.openfaas.com/tutorials/workshop/">
                        <img src="{{ site.baseurl }}/images/openfaas/landing-page-book.png" alt="book">
                        <span>Start Hands-On Labs/Workshop</span>
                    </a>
                </div>
                <div class="column is-6 is-3-desktop">
                    <a class="cta-button button" href="https://docs.google.com/forms/d/e/1FAIpQLSdpZX-84zsg0HBCKgTyu_OBz3kKaLDUr8Eyd6KixAk5KoZLHg/viewform">
                        <img src="{{ site.baseurl }}/images/openfaas/landing-page-slack.png" alt="slack">
                        <span>Join Our Slack Channel</span>
                    </a>
                </div>
                <div class="column is-6 is-3-desktop">
                    <a class="cta-button button" href="https://twitter.com/openfaas">
                        <img src="{{ site.baseurl }}/images/openfaas/landing-page-twitter.png" alt="twitter">
                        <span>Follow @OpenFaaS on Twitter</span>
                    </a>
                </div>
                <div class="column is-6 is-3-desktop">
                    <a class="cta-button button" href="https://github.com/openfaas/faas">
                        <img src="{{ site.baseurl }}/images/openfaas/landing-page-github.png" alt="github">
                        <span>Contribute on GitHub</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
