<div class="container">
    <div class="columns is-multiline">
        <div class="column is-12-tablet is-4-desktop">
            <div class="columns is-multiline feature-box">
                <div class="column is-narrow" style="width: 170px;">
                    <img src="{{ site.baseurl }}/images/openfaas/anywhere.svg">
                </div>
                <div class="column has-text-centered-mobile">
                    <h1 class="title is-size-4 has-text-grey-darker">
                        Anywhere
                    </h1>
                    <h2 class="subtitle is-size-5 has-text-grey-darker">
                        Avoid lock-in through theuse of Docker. Run on anypublic or private cloud.
                    </h2>
                </div>
            </div>
        </div>
        <div class="column is-12-tablet is-4-desktop">
            <div class="columns is-multiline feature-box">
                <div class="column is-narrow" style="width: 150px;">
                    <img src="{{ site.baseurl }}/images/openfaas/anycode.svg">
                </div>
                <div class="column has-text-centered-mobile">
                    <h1 class="title is-size-4 has-text-grey-darker">
                        Any code
                    </h1>
                    <h2 class="subtitle is-size-5 has-text-grey-darker">
                        Build both microservices &amp; functions in any language. Legacy code and binaries.
                    </h2>
                </div>
            </div>
        </div>
        <div class="column is-12-tablet is-4-desktop">
            <div class="columns is-multiline feature-box">
                <div class="column is-narrow" style="width: 150px;">
                    <img src="{{ site.baseurl }}/images/openfaas/anyscale.svg">
                </div>
                <div class="column has-text-centered-mobile">
                    <h1 class="title is-size-4 has-text-grey-darker">
                        Any scale
                    </h1>
                    <h2 class="subtitle is-size-5 has-text-grey-darker">
                        Auto-scale for demandor to zero when idle.
                    </h2>
                </div>
            </div>
        </div>
    </div>
</div>
