<div class="container">
    <div class="columns is-multiline">
        <div class="column is-12 is-spaced-bottom">
            <div class="columns">
                <div class="column is-8 is-offset-2 has-text-centered">
                    <h1 class="title is-size-3 is-size-2-desktop has-text-grey-darker">
                        Simple, powerful functions from anywhere.
                    </h1>
                </div>
            </div>
        </div>
        <div class="column is-12 has-text-centered  is-spaced-bottom">
            <div class="columns">
                <div class="column is-8 is-offset-2 has-text-centered">
                    <h1 class="title has-text-weight-light is-size-5 is-size-4-desktop has-text-grey">
                        Whether you want to use Go, Java, Python, C#, Ruby - Express.js, Django, ASP.NET Core, even binaries like ffmpeg,
                        ImageMagick, or anything else.
                        We have you covered with <a class="underline" href="https://docs.openfaas.com/cli/templates/">the template store</a>.
                    </h1>
                </div>
            </div>
        </div>
        <!-- To be activated -->
        <!-- <div class="column is-12 has-text-centered">
            <h1 class="title has-text-weight-light is-size-5 has-text-grey">
                EXAMPLE USE CASES
            </h1>
        </div>
        <div class="column is-12">
            <div class="columns is-multiline">
                <div class="column is-6-tablet is-3-desktop">
                    <a class="button is-large button-use-case is-fullwidth is-active">
                        <span class="icon git">
                            <i class="fab fa-github"></i>
                        </span>
                        <span>Unit tests for a Github push</span>
                    </a>
                </div>
                <div class="column is-6-tablet is-3-desktop">
                    <a class="button is-large button-use-case is-fullwidth">
                        <span class="icon spa">
                            <i class="fas fa-spa"></i>
                        </span>
                        <span>Updating a cosmosDB database</span>
                    </a>
                </div>
                <div class="column is-6-tablet is-3-desktop">
                    <a class="button is-large button-use-case is-fullwidth">
                        <span class="icon slack">
                            <i class="fab fa-slack"></i>
                        </span>
                        <span>Sending a Slack message</span>
                    </a>
                </div>
                <div class="column is-6-tablet is-3-desktop">
                    <a class="button is-large button-use-case is-fullwidth">
                        <span class="icon twitter">
                            <i class="fab fa-twitter"></i>
                        </span>
                        <span>Sending a Twitter DM</span>
                    </a>
                </div>
            </div>
        </div> -->
    </div>
</div>

{% include landing-page/landing-demo-code-samples.html %}
