<div class="container">
	<p class="intro-logo">
		<img src="{{ site.baseurl }}/images/openfaas/whale.png" alt="logo">
	</p>
</div>

<div class="container">
	<h1 class="title is-size-3-mobile is-size-2-tablet is-size-1-desktop  is-capitalized has-text-weight-bold">
		Serverless Functions, Made Simple.
	</h1>
	<h1 class="is-size-5-mobile is-size-4-tablet is-size-3-desktop has-text-weight-light">
		OpenFaaS® makes it simple to turn anything into a serverless function <br>
		that runs on Linux or Windows through Docker Swarm or Kubernetes.
	</h1>
</div>
