<div class="container">
    <div class="columns is-multiline">
        <div class="column is-12 is-spaced-bottom has-text-centered-mobile">
            <h1 class="title is-size-3-tablet is-size-3-mobile is-size-2-desktop has-text-grey-darker">
                End-users & case-studies
            </h1>
        </div>

        <div class="users-wrapper show-less">
            {% for user in site.data.users %}
            <div class="column is-2-desktop"> 
                <figure class="image is-96x96">
                    <img src="images/users-logos/{{ user.icon }}" alt="{{ user.title }}">
                </figure>
            </div>
            {% endfor %}
        </div>
        <div class="column is-12 is-hidden-tablet has-text-centered">
            <a id="show-more-users" class="button is-outlined is-medium">View more</a>
        </div>
    </div>
</div>
