<div class="container code-samples">
    <div class="columns">
        <div class="column is-8 is-offset-2">
            <div class="tabs is-boxed is-fullwidth">
                <ul>
                    <li class="tab-selector is-active">
                        <a>
                            <span>Go</span>
                        </a>
                    </li>
                    <li class="tab-selector">
                        <a>
                            <span>Java</span>
                        </a>
                    </li>
                    <li class="tab-selector">
                        <a>
                            <span>Python</span>
                        </a>
                    </li>
                    <li class="tab-selector">
                        <a>
                            <span>C#</span>
                        </a>
                    </li>
                    <li class="tab-selector">
                        <a>
                            <span>Ruby</span>
                        </a>
                    </li>
                    <li class="tab-selector">
                        <a>
                            <span>+</span>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="code-samples-preview">
                some code
            </div>
        </div>
    </div>
</div>
