<div class="container">
    <div>
        <p class="is-size-5-mobile is-size-4-tablet is-size-3-desktop has-text-grey-darker has-text-centered mb-5">
            Deploy to production with OpenFaaS Pro
        </p>

    </div>
    <div class="columns is-multiline">

        <div class="column is-12-tablet is-4-desktop">
            <div class="columns is-multiline feature-box">
                <div class="column is-narrow" style="width: 170px;">
                    <img src="{{ site.baseurl }}/images/openfaas/anywhere.svg" alt="Run anywhere">
                </div>
                <div class="column has-text-centered-mobile">
                    <h1 class="title is-size-4 has-text-grey-darker">
                        Anywhere
                    </h1>
                    <h2 class="subtitle is-size-5 has-text-grey-darker">
                        Deploy your functions on-premises or in the cloud, with portable OCI images.
                    </h2>
                </div>
            </div>
        </div>
        <div class="column is-12-tablet is-4-desktop">
            <div class="columns is-multiline feature-box">
                <div class="column is-narrow" style="width: 150px;">
                    <img src="{{ site.baseurl }}/images/openfaas/anycode.svg" alt="Any code">
                </div>
                <div class="column has-text-centered-mobile">
                    <h1 class="title is-size-4 has-text-grey-darker">
                        Any code
                    </h1>
                    <h2 class="subtitle is-size-5 has-text-grey-darker">
                        Write functions in any language, and bring your existing microservices along too.
                    </h2>
                </div>
            </div>
        </div>
        <div class="column is-12-tablet is-4-desktop">
            <div class="columns is-multiline feature-box">
                <div class="column is-narrow" style="width: 150px;">
                    <img src="{{ site.baseurl }}/images/openfaas/anyscale.svg" alt="Any scale">
                </div>
                <div class="column has-text-centered-mobile">
                    <h1 class="title is-size-4 has-text-grey-darker">
                        Any scale
                    </h1>
                    <h2 class="subtitle is-size-5 has-text-grey-darker">
                        Pro features scale your functions to meet demand, and down to zero when idle.
                    </h2>
                </div>
            </div>
        </div>
    </div>


</div>
