<div class="container">
    <div class="columns is-multiline">
        <div class="column is-12 is-spaces-top-x2">
            <div class="has-text-centered">
                <div class="card-content">
                    <h1 class="title is-size-4 is-size-3-desktop has-text-grey-darker">
                        Alex Ellis is the creator and founder of OpenFaaS Ltd and a CNCF Ambassador
                    </h1>
                    <h1 class="title has-text-weight-light is-size-4 is-size-4-desktop has-text-grey">
                        Partner with OpenFaaS Ltd for consulting, support, and training.
                    </h1>
                </div>
                <a href="/consulting/" target="_top" class="button is-primary is-large">
                    <span class="icon"><i class="far fa-file-alt"></i></span>
                    <span>CONSULTING</span>
                </a>
            </div>
        </div>
    </div>
</div>

