<div class="container">
    <div class="columns is-multiline">
        <div class="column is-12">
            <div class="box has-background-white">
                <div class="columns is-vcentered">
                    <div class="column">
                        <p class="has-text-grey-dark is-size-4 font-medium mb-2">
                            OpenFaaS Edge
                            <span class="tag is-small is-primary ml-2" style="vertical-align: middle; font-size: 0.6rem;">NEW</span>
                        </p>
                        <p class="has-text-grey-dark is-size-6 mt-2">
                            For whitelabelled and OEM solution providers: deploy event-driven functions to customer sites on VMs or bare-metal, without Kubernetes.
                        </p>
                    </div>
                    <div class="column is-narrow">
                        <a href="/edge/" class="button is-primary is-medium">
                            <span>Learn about Edge &rarr;</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
