<div class="container">
    <div class="columns is-multiline is-spaced-top-x2">
        <div class="column is-12 is-spaces-top-x2">
            <div>
                <div class="card-content">
                    <h3 class="has-text-centered title is-size-4 is-size-5-desktop has-text-grey-darker">
                        Unlock the benefits of OpenFaaS Pro today
                    </h3>

                    <p class="text-align: left; title has-text-weight-light is-size-5 is-size-5-desktop has-text-grey">
                        If you're early on your journey, you can get a feel for what OpenFaaS is like by installing the Community Edition (CE). It's free to use, you can start building a Proof of Concept (PoC) with functions within a few minutes.
                    </p>

                    <p class="text-align: left; title has-text-weight-light is-size-5 is-size-5-desktop has-text-grey">
                        Whenever you'd like to move ahead with OpenFaaS for production, then you can set up a call with our team to learn more about OpenFaaS Pro and Enterprise.
                    </p>

                    <p class="text-align: left; title has-text-weight-light is-size-5 is-size-5-desktop has-text-grey">
                        Each Kubernetes cluster will need to be licensed and classed as either "production" or "staging". A production cluster serves traffic to users whether they are internal or external customers/processes. Any cluster used for shared testing and collaboration, is classed as "staging" and will be discounted.
                    </p>

                    <p class="text-align: left; title has-text-weight-light is-size-5 is-size-5-desktop has-text-grey">
                        Learn more about <a href="https://docs.openfaas.com/openfaas-pro/introduction"/>OpenFaaS Pro features and benefits</a></p>

                    <a href="/support/" target="_top" class="button is-primary is-large">
                        <span class="icon"><i class="fas fa-envelope-open-text"></i></span>
                        <span>Contact us</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
