<section class="hero">
    <div class="hero-body has-text-centered is-medium is-10">
      <p class="title">
        Take a longer-term view
      </p>
      <p class="subtitle">
        OpenFaaS Pro is a long term investment in your team and business function.
      </p>
    </div>
  </section>

<section class="section">
    <div class="container is-10 mb-4">
      <h2 class="title">Faster cycles save on costs</h2>
      <p class="subtitle">
        With dozens of language templates, access to <strong>private NPM, maven, gradle, Nuget and Go code repositories from faas-cli</strong>, you'll be able to ship code in a short period of time with the languages you already use.
      </p>
    </div>
    <div class="container is-10 mb-4">
        <h2 class="title">The reliability your customers need</h2>
        <p class="subtitle">
          OpenFaaS Pro with JetStream brings at least once semantics and a highly scalable queue with built in metrics showing the amount of work left to process. Failed requests can be retried, and additional named queues can be added as you grow.
        </p>
      </div>
      <div class="container is-10 mb-4">
        <h2 class="title">Highly scalable</h2>
        <p class="subtitle mb-2">
          Kubernetes uses a generic autoscaler that was never built to scale functions. OpenFaaS Pro scaling can be fine-tuned to any workload. You can pick from Requests Per Second (RPS), CPU usage or Capacity (the amount of connections). Capacity mode scales slow running functions and ETL workloads which neither the Community Edition or Kubernetes can.
        </p>
        <p class="subtitle">
            Just as important as scaling up, scaling down to zero keeps costs low whilst retaining the benefits.
        </p>
      </div>
      <div class="container is-10 mb-4">
        <h2 class="title">Compliance matters</h2>
        <p class="subtitle mb-2">
            For regulated companies, only OpenFaaS Pro offers integration with Istio for mutual TLS encryption between functions.
        </p>
        <p class="subtitle">
            Pro's integration with ArgoCD, FluxCD through Custom Resources Definitions (CRDs) means that you can audit deployments through git, and make SOC2 compliance easier to achieve.
        </p>
      </div>
      <div class="container is-10 mb-4">
        <h2 class="title">Find problems before they find you</h2>
        <p class="subtitle">
          OpenFaaS Pro comes with Grafana dashboards showing you everything that could go wrong with a function, from errors due to timeouts, increasing latency, spikes in CPU and memory leaks. You'll be able to fix these issues before your customers even see them.
        </p>
      </div>

      <div class="container is-10">
        <h2 class="title">Collaborate and contribute</h2>
        <h3 class="subtitle">
          In the Customer Community, you'll get early access to new features and be able to leave feedback and suggestions for things that would make OpenFaaS better for your team. Rest assured that with OpenFaaS For Enterprises, you get an SLA and direct access to our engineering team via Slack.
        </h3>
      </div>
      
</section>

<div class="container">

    <div class="column is-10 mx-auto">    
        <div class="card">
            <div class="card-content">
                <div class="media">
                <div class="media-left">
                    <figure class="image is-48x48">
                        <svg fill="none" stroke="currentColor" stroke-width="1.5" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M17.982 18.725A7.488 7.488 0 0012 15.75a7.488 7.488 0 00-5.982 2.975m11.963 0a9 9 0 10-11.963 0m11.963 0A8.966 8.966 0 0112 21a8.966 8.966 0 01-5.982-2.275M15 9.75a3 3 0 11-6 0 3 3 0 016 0z"></path>
                          </svg>
                    </figure>
                </div>
                <div class="media-content">
                    <p class="title is-4">Data Engineer</p>
                    <p class="subtitle is-6">Fortune 500</p>
                </div>
                </div>
            
                <div class="content">
                    <strong>How satisfied have you been with the insights and outcomes that we've provided?</strong>
                    <br>
                    "Very satisfied. There hasn't been a time when talking through things with you hasn't helped our team. You have helped us with quite a few different things from architecture suggestions to debugging issues."
                </div>
                <div class="content">
                    <strong>Anything else you'd like to let them know?</strong><br>
                    "OpenFaaS is a great platform and Alex's team is a great resource. They will work very diligently with your team to help you get the most out of OpenFaaS, and they will always be able to provide valuable insight into issues that a team might face while developing software for the cloud."
                </div>
            </div>
        </div>
    </div>

    <div class="column is-10 mx-auto">    
        <div class="card">
          <div class="card-content">
            <div class="media">
              <div class="media-left">
                <figure class="image is-48x48">
                  <img src="/images/customers/clyde.jpg" alt="Avatar">
                </figure>
              </div>
              <div class="media-content">
                <p class="title is-4">Clyde Seepersad</p>
                <p class="subtitle is-6">SVP and GM Training &amp; Certification, The Linux Foundation</p>
              </div>
            </div>
        
            <div class="content">"Alex and team were great partners [for the Introduction to Serverless on Kubernetes course], providing high quality course materials on time, and following the launch, they were very supportive in getting the word out. We look forward to continued collaboration.”
            </div>
          </div>
        </div>
    </div>

    <div class="column is-10 mx-auto">    
        <div class="card">
            <div class="card-content">
            <div class="media">
                <div class="media-left">
                <figure class="image is-48x48">
                    <img src="/images/customers/wfore.jpg" alt="Avatar">
                </figure>
                </div>
                <div class="media-content">
                <p class="title is-4">Billy Forester</p>
                <p class="subtitle is-6">Checkpoint Software Limited</p>
                </div>
            </div>
        
            <div class="content">
                <strong>When you or your team has had a problem with OpenFaaS or your functions, how quickly have we responded to you?</strong><br>"When reaching out on Slack my needs are met very quickly. In almost all cases I recieve a response the same business day even on UK holidays."
            </div>
            <div class="content">
                <strong>How satisfied have you been with the insights and outcomes that we've provided?</strong><br> "Most of my questions have revolved around what is considered to be “best practice” inside of the OpenFaas ecosystem. I have always recieved detailed information as to why something should be done a certain way or what the alternatives are if any."
            </div>
            <div class="content">
                <strong>Is there a specific example you can share of how we helped?</strong><br> "The biggest difference I noticed in the early days of adoption is how helpful the OpenFaaS team was when I was going through the onboarding process. I had a lot of questions about very specific needs. All of these questions were easily answered and examples were provided. If you are trying to solve a unique problem, Alex's perspective has always been valuable."
            </div>
        </div>
    </div>
</div>

</div>

<div class="container">
    <div class="columns is-multiline is-spaced-top-x2">
        <div class="column is-12 is-spaces-top-x2">
            <div>
                <div class="card-content">
                    <h3 class="has-text-centered title is-size-4 is-size-5-desktop has-text-grey-darker">
                        Unlock the benefits of OpenFaaS Pro today
                    </h3>

                    <p class="text-align: left; title has-text-weight-light is-size-5 is-size-5-desktop has-text-grey">
                        Learn more about OpenFaaS Pro features and benefits:<a class="mt-3" style="display: block;" href="https://docs.openfaas.com/openfaas-pro/introduction">OpenFaaS feature-overview &amp; comparison</a>
                    </p>

                    <div class="columns">

                      <div class="column">
                      <a href="https://forms.gle/g6oKLTG29mDTSk5k9" target="_top" class="button is-primary is-large">
                        <span class="icon"><i class="fas fa-calendar-alt"></i></span>
                        <span>Talk to us</span>
                      </a>
                      </div>
                      <div class="column">

                      <a href="/support/" target="_top" class="button is-primary is-large">
                          <span class="icon"><i class="fas fa-headset"></i></span>
                          <span>View support options</span>
                      </a>
                      </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
