<div class="container">
    <div class="columns is-multiline">

            <div class="column is-12">
                <div class="box has-background-white">
                    <p style="min-height: 10px;" class="has-text-grey-dark is-size-4 font-medium mb-2">
                        OpenFaaS Edge
                        <span class="tag is-small is-primary ml-2" style="vertical-align: middle; font-size: 0.6rem;">NEW</span>
                    </p>
    
                    <p style="margin-bottom: 6px; min-height: 10px" class="has-text-grey-dark is-size-8 mt-2">
                        Scaled back version for automation &amp; event processing.
                    </p>
                            
                        <div class="columns is-multiline">
                            <div class="column is-6">
                                <ul class="has-text-grey-dark is-size-6 mt-3 mb-4" style="list-style: none">
                                <li class="mb-3 is-flex is-align-items-center">
                                    <svg class="image is-24x24 mr-2" xmlns="http://www.w3.org/2000/svg"stroke="currentColor" fill="#10b981" viewBox="0 0 1792 1792">
                                        <path d="M1412 734q0-28-18-46l-91-90q-19-19-45-19t-45 19l-408 407-226-226q-19-19-45-19t-45 19l-91 90q-18 18-18 46 0 27 18 45l362 362q19 19 45 19 27 0 46-19l543-543q18-18 18-45zm252 162q0 209-103 385.5t-279.5 279.5-385.5 103-385.5-103-279.5-279.5-103-385.5 103-385.5 279.5-279.5 385.5-103 385.5 103 279.5 279.5 103 385.5z">
                                        </path>
                                    </svg>
                                    <a class="underline-on-hover" href="https://github.com/openfaas/faas/blob/master/pro/EULA.md">OpenFaaS Commercial License (EULA)</a>
                                </li>

                                <li class="mb-3 is-flex is-align-items-center">
                                    <svg class="image is-24x24 mr-2" xmlns="http://www.w3.org/2000/svg"stroke="currentColor" fill="#10b981" viewBox="0 0 1792 1792">
                                        <path d="M1412 734q0-28-18-46l-91-90q-19-19-45-19t-45 19l-408 407-226-226q-19-19-45-19t-45 19l-91 90q-18 18-18 46 0 27 18 45l362 362q19 19 45 19 27 0 46-19l543-543q18-18 18-45zm252 162q0 209-103 385.5t-279.5 279.5-385.5 103-385.5-103-279.5-279.5-103-385.5 103-385.5 279.5-279.5 385.5-103 385.5 103 279.5 279.5 103 385.5z">
                                        </path>
                                    </svg>
                                    Deploy to a VM or bare-metal (without Kubernetes)
                                </li>
                                <li class="mb-3 is-flex is-align-items-center">
                                    <svg class="image is-24x24 mr-2" xmlns="http://www.w3.org/2000/svg"stroke="currentColor" fill="#10b981" viewBox="0 0 1792 1792">
                                        <path d="M1412 734q0-28-18-46l-91-90q-19-19-45-19t-45 19l-408 407-226-226q-19-19-45-19t-45 19l-91 90q-18 18-18 46 0 27 18 45l362 362q19 19 45 19 27 0 46-19l543-543q18-18 18-45zm252 162q0 209-103 385.5t-279.5 279.5-385.5 103-385.5-103-279.5-279.5-103-385.5 103-385.5 279.5-279.5 385.5-103 385.5 103 279.5 279.5 103 385.5z">
                                        </path>
                                    </svg>
                                    <span data-tooltip="25 included in base package, additional functions available as add-ons.">25-250 functions.</span>
                                </li>
                                <li class="mb-3 is-flex is-align-items-center">
                                    <svg class="image is-24x24 mr-2" xmlns="http://www.w3.org/2000/svg"stroke="currentColor" fill="#10b981" viewBox="0 0 1792 1792">
                                        <path d="M1412 734q0-28-18-46l-91-90q-19-19-45-19t-45 19l-408 407-226-226q-19-19-45-19t-45 19l-91 90q-18 18-18 46 0 27 18 45l362 362q19 19 45 19 27 0 46-19l543-543q18-18 18-45zm252 162q0 209-103 385.5t-279.5 279.5-385.5 103-385.5-103-279.5-279.5-103-385.5 103-385.5 279.5-279.5 385.5-103 385.5 103 279.5 279.5 103 385.5z">
                                        </path>
                                    </svg>
                                    REST API &amp; CLI
                                </li>
                                <li class="mb-3 is-flex is-align-items-center">
                                    {% include maybe.html %}
                                    OpenFaaS Dashboard (optional add-on)
                                </li>
                                <li class="mb-3 is-flex is-align-items-center">
                                    {% include maybe.html %}
                                    <span data-tooltip="Cron trigger included, all others available as add-ons.">Event triggers.</span>
                                </li>
                            </ul>
                            </div>
                            <div class="column is-6">
                                <ul class="has-text-grey-dark is-size-6 mt-3 mb-4" style="list-style: none">
                                <li class="mb-3 is-flex is-align-items-center">
                                    <svg class="image is-24x24 mr-2" xmlns="http://www.w3.org/2000/svg"stroke="currentColor" fill="#10b981" viewBox="0 0 1792 1792">
                                        <path d="M1412 734q0-28-18-46l-91-90q-19-19-45-19t-45 19l-408 407-226-226q-19-19-45-19t-45 19l-91 90q-18 18-18 46 0 27 18 45l362 362q19 19 45 19 27 0 46-19l543-543q18-18 18-45zm252 162q0 209-103 385.5t-279.5 279.5-385.5 103-385.5-103-279.5-279.5-103-385.5 103-385.5 279.5-279.5 385.5-103 385.5 103 279.5 279.5 103 385.5z">
                                        </path>
                                    </svg>
                                    Scale to Zero
                                </li>
                                <li class="mb-3 is-flex is-align-items-center">
                                    <svg class="image is-24x24 mr-2" xmlns="http://www.w3.org/2000/svg"stroke="currentColor" fill="#10b981" viewBox="0 0 1792 1792">
                                        <path d="M1412 734q0-28-18-46l-91-90q-19-19-45-19t-45 19l-408 407-226-226q-19-19-45-19t-45 19l-91 90q-18 18-18 46 0 27 18 45l362 362q19 19 45 19 27 0 46-19l543-543q18-18 18-45zm252 162q0 209-103 385.5t-279.5 279.5-385.5 103-385.5-103-279.5-279.5-103-385.5 103-385.5 279.5-279.5 385.5-103 385.5 103 279.5 279.5 103 385.5z">
                                        </path>
                                    </svg>
                                    Async Queue
                                </li>
                                <li class="mb-3 is-flex is-align-items-center">
                                    <svg class="image is-24x24 mr-2" xmlns="http://www.w3.org/2000/svg"stroke="currentColor" fill="#10b981" viewBox="0 0 1792 1792">
                                        <path d="M1412 734q0-28-18-46l-91-90q-19-19-45-19t-45 19l-408 407-226-226q-19-19-45-19t-45 19l-91 90q-18 18-18 46 0 27 18 45l362 362q19 19 45 19 27 0 46-19l543-543q18-18 18-45zm252 162q0 209-103 385.5t-279.5 279.5-385.5 103-385.5-103-279.5-279.5-103-385.5 103-385.5 279.5-279.5 385.5-103 385.5 103 279.5 279.5 103 385.5z">
                                        </path>
                                    </svg>
                                    Airgap support
                                </li>
                                <li class="mb-3 is-flex is-align-items-center">
                                    <svg class="image is-24x24 mr-2" xmlns="http://www.w3.org/2000/svg"stroke="currentColor" fill="#10b981" viewBox="0 0 1792 1792">
                                        <path d="M1412 734q0-28-18-46l-91-90q-19-19-45-19t-45 19l-408 407-226-226q-19-19-45-19t-45 19l-91 90q-18 18-18 46 0 27 18 45l362 362q19 19 45 19 27 0 46-19l543-543q18-18 18-45zm252 162q0 209-103 385.5t-279.5 279.5-385.5 103-385.5-103-279.5-279.5-103-385.5 103-385.5 279.5-279.5 385.5-103 385.5 103 279.5 279.5 103 385.5z">
                                        </path>
                                    </svg>
                                    <a class="underline-on-hover" href="https://store.openfaas.com/l/serverless-for-everyone-else"><span data-tooltip="A complete manual for writing functions with Node.js/JavaScript.">Training eBook included</span></a>
                                </li>

                                <li class="mb-3 is-flex is-align-items-center">
                                    {% include no.html %}
                                    Horizontal scaling
                                </li>
                                <li class="mb-3 is-flex is-align-items-center">
                                    {% include no.html %}
                                    High Availability
                                </li>
                            </ul>
                            </div>
                        </div>

                    <div class="is-flex is-align-items-center is-size-6">
                        <div class="book-a-call mr-3 is-size-2">
                            <div class="field">
                                <label class="label mt-3">Read about Edge</label>
                                <div class="control">
                                    <a href="https://docs.openfaas.com/deployment/edge/" class="button is-light is-medium">
                                        <span class="icon"><i class="fas fa-book"></i></span>
                                        <span>Read about Edge</span>
                                        </a>
                                </div>
                            </div>
                        </div>
                        <div class="book-a-call ml-3 is-size-2">
                            <div class="field">
                                <label class="label mt-3">Talk to us about edge</label>
                                <div class="control">
                                    <a href="https://docs.google.com/forms/d/e/1FAIpQLSe2O9tnlTjc7yqzXLMvqvF2HVqwNW7ePNOxLchacKRf9LZL7Q/viewform?usp=header" class="button is-primary is-medium">
                                        <span class="icon"><i class="fas fa-calendar-alt"></i></span>
                                        <span>Talk to us about edge</span>
                                        </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

