---
layout: default
---

<!-- <section class="hero" style="background-image: url({% include relative-src.html src=page.image %})"> -->
<section class="hero" {% include relative-post-hero.html src=page.image %}>
		<div class="inner-hero text-container">
		<div class="hero-text-container">
			<h1><span{% if page.dark_background %} class="dark-background-title"{% endif %}>{{ page.title }}</span></h1>
			<p class="subtext"><span{% if page.dark_background %} class="dark-background-description"{% endif %}>{{ page.description }}</span></p>
		</div>
	</div>
</section>

{{ content }}
