---
layout: default
---

<div class="post-page-full">
	<section class="hero is-medium is-bold cover" {% include blog-page/relative-post-hero.html src=page.image %}>
		<div class="hero-body">
			<div class="container">
				<h1 class="title is-size-3 is-size-1-desktop has-text-weight-normal">
					{{ page.title }}
				</h1>
				<h2 class="subtitle is-size-4">
					{{ page.description }}
				</h2>
			</div>
		</div>
	</section>

    <section class="hero is-medium">
    	<div class="hero-body hero-blog-content">
            <div class="container">
                {{ content }}
            </div>
    	</div>
	</section>
	
	<section class="gumroad-cta">
		<h3 class="gumroad-cta-title">Checkout the official eBook and video workshop for OpenFaaS</h3>
			<a href="https://gumroad.com/l/serverless-for-everyone-else">
			<img src="https://www.alexellis.io/serverless.png" alt="Serverless eBook cover">
			</a>
			<p>Learn use-cases for open-source serverless functions and how to integrate them into your existing workflows.</p>
			<p>Through the hands-on exercises you will build your own JavaScript functions using Node.js. You'll add custom npm modules, integrate with other HTTP APIs, enable authentication and monitor the endpoints with Grafana.</p>
			<p>
				<a href="https://gumroad.com/l/serverless-for-everyone-else">Find out more on Gumroad</a>
			</p>
	</section>

</div>
